    <div id="div_johor_states" class="pahan svg-content" style="display: none;">
          <div class="map-title" style="z-index: 100;"> JOHOR </div>
          <div class="text-info1"><a onclick="closejohoricon()">
            <i class="fa fa-close close-btn" id="divtotal_malaysiabtn_johor"></i></a>
            <div class="hidden statediv" id="sabah_district14">
              <div id="myRadioGroup" class="submap-title">
                <h1><div id="divjohorheader"></div> </h1>
                <div class="box div_Pekan div_statesvg">
                  <ul>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Doctors
                      </div>
                      <div id="divnoofjohordoctors"> </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i>Number of X-ray
                      </div>
                      <div id="divnoofjohorxray"></div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Lab
                      </div>
                      <div id="divnoofjohorlab"> </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Employer
                      </div>
                      <div id="divnoofjohoremployer">  </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of FW
                      </div>
                      <div id="divnoofjohorfw">  </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Detectable Disease/Condition
                      </div>
                      <div id="divdetectablediseasejohor"> </div>
                    </li>
                    <li class="p-0">
                      <div id="accordion3" style="width: 100%!important;float:left">
                        <div class="card">
                          <div class="card-header" style="background: #be0022;
                                              color: #fff;">
                            <a class="card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseOne16"> Communicable Diseases <span><div id="commdiseasesjohor"></div>  </span>
                            </a>
                          </div>
                          <div id="collapseOne16" class="collapse" data-parent="#accordion3">
                            <div class="card-body" style="float: left; padding: 0px;">
                              <div class="box div_Pekan div_statesvg">
                                <ul>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i>Tuberculosis
                                    </div>
                                    <div id="divjohortuberculosis">  </div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Hepatitis B
                                    </div>
                                    <div id="divjohorhepatisis"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Syphilis
                                    </div>
                                    <div id="divjohorsyphilis"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> HIV/AIDS
                                    </div>
                                    <div id="divjohorhiv"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Malaria
                                    </div>
                                    <div id="divjohormalaria"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Leprosy
                                    </div>
                                    <div id="divjohorleprosy"></div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" style="background: #be0022;
                                              color: #fff;">
                            <a class="collapsed card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseTwo17"> Non-Communicable Diseases <span><div id="noncommdiseasesjohor"></div> </span>
                            </a>
                          </div>
                          <div id="collapseTwo17" class="collapse" data-parent="#accordion3">
                            <div class="card-body" style="float: left; padding: 0px;">
                              <div class="box div_Pekan div_statesvg">
                                <ul>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i>Pregnancy
                                    </div>
                                    <div id="divjohorpreg"> </div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Urine Opiates
                                    </div>
                                    <div id="divjohorurine"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Urine Cannabis
                                    </div>
                                    <div id="divjohorcannabis"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Psychiatric Illness
                                    </div>
                                    <div id="divjohorillness"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Epilepsy
                                    </div>
                                    <div id="divjohorepilepsy"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Cancer
                                    </div>
                                     <div id="divjohorcancer"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Hypertension
                                    </div>
                                     <div id="divjohorhyper"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Diabetes
                                    </div>
                                    <div id="divjohordiabetes"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Kidney Disease
                                    </div>
                                     <div id="divjohorkidney"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Heart Disease
                                    </div>
                                     <div id="divjohorheart"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Peptic Ulcer
                                    </div>
                                     <div id="divjohorulcer"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Bronchial Asthma
                                    </div>
                                     <div id="divjohorasthama"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Others
                                    </div>
                                     <div id="divjohorothers"></div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="svg-map">
            <div class="sub-map">
  <svg version="1.1" id="svg20467" inkscape:version="0.91 r13725" sodipodi:docname="johor parlimen.svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="" viewBox="-128 -20 844 394.708" enable-background="new -128 -20 844  394.708" xml:space="preserve"> 
<sodipodi:namedview  id="base" inkscape:window-maximized="1" fit-margin-bottom="0" fit-margin-right="0" inkscape:snap-nodes="false" inkscape:window-y="-4" inkscape:window-x="-4" inkscape:window-height="740" inkscape:window-width="1280" inkscape:current-layer="layer1" inkscape:document-units="px" inkscape:pageshadow="2" inkscape:pageopacity="0.0" fit-margin-left="0" fit-margin-top="0" showguides="false" showgrid="false" inkscape:cy="205.71043" pagecolor="#ffffff" inkscape:cx="396.16755" inkscape:zoom="1.3419474" borderopacity="1.0" bordercolor="#666666">
  <inkscape:grid  type="xygrid" id="grid21358" originy="7.7652372e-006" originx="60.314745"></inkscape:grid>
</sodipodi:namedview>
<g id="layer1" transform="translate(60.314747,-598.97695)" inkscape:label="Layer 1" inkscape:groupmode="layer"><a onclick="district_johor('SEGAMAT')">
  
    <path id="path20955-8" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M64.467,702.768l-3.466,0.248l-8.169-4.704l-5.941,0.248c-7.536-14.494-8.961,13.641-14.11-2.723h-1.485l-0.248,2.228
    c-12.377-1.485-7.313-14.947-7.313-14.947l-2.084-4.444l-0.143-3.856l2.143-2.571l-1-3.714v-8.712l6.285-6.427l-4.334-5.015
    l18.207-47.8l19.785,8.597l19.697,23.306l-14.321,19.998l-1.732,12.819l-5.197,0.346v1.906l1.906,2.945v2.945l3.984,3.464
    l-1.039,1.732h-2.252c-2.252,3.291-4.851,4.677-4.851,4.677l-2.079-3.118c-3.638,1.386,1.559,6.41,1.559,6.41h2.425v2.252
    l1.905,2.251l-1.386,1.386l0.52,4.157l2.945,2.425L64.467,702.768z"/></a><a onclick="district_johor('LABIS')">
  
    <path id="path20955-1" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M145.039,674.226l30.154-10.706l18.495,40.98l-15.843,17.576c-44.312,14.853-47.035,20.794-47.035,20.794l-0.248,10.645
    l-14.853,0.495l-14.606-7.674l10.893-23.27l-6.684-7.427c-9.902,0.743-16.586-14.11-16.586-14.11s-0.429-25.961,29.346-28.38
    l-6.161-14.675L145.039,674.226z"/></a><a onclick="district_johor('SEKIJANG')">
  
    <path id="path20955-89" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M118.072,673.15l-6.197-14.661l-13.356-5.82l-16.275-20.028l-14.278,19.838l-1.732,12.819l-5.197,0.346v1.906l1.906,2.945v2.945
    l3.984,3.464l-1.039,1.732h-2.252c-2.252,3.291-4.851,4.677-4.851,4.677l-2.079-3.118c-3.638,1.386,1.559,6.41,1.559,6.41h2.425
    v2.252l1.905,2.251l-1.386,1.386l0.52,4.157l2.945,2.425l-0.209,3.691v4.704h7.674l2.971-9.16h6.684l0.99,3.218h5.941
    C88.726,701.53,88.297,675.569,118.072,673.15L118.072,673.15z"/></a><a onclick="district_johor('AYER HITAM')">
  
    <path id="path20955-1-7" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
    M130.563,753.516l-14.853,0.495l-14.652-7.666l-9.995,15.016l7.548,9.367l1.965,0.151l11.642,9.979
    c3.175,0.453-3.024,3.023-3.024,3.023l-1.966,4.535c4.99,3.024,6.35,10.584,6.35,10.584l2.419,1.209
    c0.326,1.152,0.326,2.281,0.326,2.281l-1.936,11.129l4.355,1.13c3.387-1.936,9.678-1.452,9.678-1.452
    c-0.323,2.258,1.129,2.581,1.129,2.581l1.774,0.323l-0.322,3.87l1.452-0.806l1.452,1.612l1.129-1.129
    c6.774,4.354,3.709,10.806,3.709,10.806l-0.484,1.613l6.452-0.484l1.936,0.646l5.323-2.582v-5.482l2.581-3.227l-2.258-2.42
    l3.387-5.16l-0.645-1.775l-2.742-0.645c-1.29-0.484-1.29-4.032-1.29-4.032l4.838-1.612l0.968-5.646l2.581-0.806
    c2.097-3.226,5.967-4.354,5.967-4.354c2.258-1.452-3.226-3.388-3.226-3.388l-14.032-22.742v-5.646l-2.742-3.226l1.452-3.387
    L130.563,753.516z"/></a><a onclick="district_johor('SRI GADING')">
  
    <path id="path3347-1-1-3-8-39-0-2" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M146.647,832.331l-1.936-0.646l-6.452,0.484l0.484-1.613c0,0,3.064-6.451-3.709-10.806l-1.129,1.129l-1.452-1.612l-1.452,0.806
    l0.322-3.87l-1.774-0.323c0,0-1.452-0.323-1.129-2.581c0,0-6.291-0.483-9.678,1.452l-4.354-1.13l1.935-11.129
    c0,0,0-1.129-0.326-2.281l-6.199,3.629l-9.374,0.151l-8.013-5.442l-1.361,1.814l0.303,2.418h-2.419v3.176l-5.594,6.199l1.664,2.57
    l-1.361,1.359l1.058,1.967l4.233-0.152l1.209,5.595l1.054,1.153l0.965-0.965l2.734-0.16l0.965-3.217l2.734,1.125v4.343l3.539,2.091
    c3.699,1.77,4.503,7.561,4.503,7.561h13.189c0.483,3.377,3.378,4.664,3.378,4.664h3.377c2.091,0.16,1.287,3.377,1.287,3.377h5.629
    c1.287-5.951,5.629-5.79,5.629-5.79l0.644-3.378L146.647,832.331z"/></a><a onclick="district_johor('PARIT SULONG')">
  
    <path id="path3347-1-1-3-8-39-0" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M75.327,782.52h1.209l3.931-4.687l-2.368-3.031v-3.472l5.834,0.646l4.27-6.406l2.739-4.11l7.668,9.268l1.965,0.151l11.642,9.979
    c3.175,0.454-3.024,3.024-3.024,3.024l-1.966,4.535c4.99,3.023,6.35,10.584,6.35,10.584l2.419,1.209l-6.199,3.629l-9.374,0.151
    l-8.013-5.442l-1.361,1.813l0.303,2.419h-2.419v3.176l-5.594,6.199l1.663,2.57l-1.36,1.359l1.058,1.967l4.233-0.152l1.209,5.595
    l1.814,2.269c-0.756,4.687-3.175,6.047-3.175,6.047l-3.327,0.303l-2.166,1.283c-19.736-12.43-25.242-11.369-25.242-11.369
    c3.066-7.604,3.52-10.325,3.52-10.325c0.907-5.896,1.512-10.13,1.512-10.13L75.327,782.52z"/></a><a onclick="district_johor('BATU PAHAT')">
  
    <path id="path3347-1-1-9" inkscape:connector-curvature="0" sodipodi:nodetypes="scccccccccccccccccccccccccccccs" fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
    M140.435,870.128c-17.254-9.429-31.396-17.726-31.396-17.726l-14.331-1.886l-11.314-9.806l-0.051-7.429l2.114-1.17l3.327-0.303
    c0,0,2.419-1.36,3.175-6.047l-0.834-1.125l1.039-0.955l2.734-0.16l0.965-3.217l2.734,1.125v4.344l3.539,2.09
    c3.699,1.77,4.503,7.561,4.503,7.561h13.189c0.483,3.377,3.378,4.664,3.378,4.664h3.377c2.091,0.16,1.287,3.377,1.287,3.377h5.629
    c1.287-5.951,5.629-5.789,5.629-5.789l0.644-3.379l6.875-1.967l5.323-2.582l0.67,11.305l8.364,3.377
    c-6.273,14.316-6.273,14.959-6.273,14.959c-1.769,9.49,1.287,14.959,1.287,14.959l-2,2.922
    C149.257,874.913,144.749,872.485,140.435,870.128L140.435,870.128z"/></a><a onclick="district_johor('BAKRI')"> 
  
    <path id="path3347-1-1-3-8-39" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
    M78.1,774.803l-22.73-0.144l-1.209,3.78l-9.828,4.688c-2.419,1.36-6.35-0.303-6.35-0.303c-1.058-0.756,2.268-3.931,2.268-3.931
    c-0.756-1.512-1.512-1.512-1.512-1.512c-3.931-0.756-5.745-2.873-5.745-2.873c-1.059-1.36-1.966-2.873-1.966-2.873
    c-0.302-1.512-1.663-1.663-1.663-1.663c-0.756-0.302-1.209,2.419-1.209,2.419l-5.141,3.175l-0.907,2.268
    c-1.36,0.303-5.745-2.721-5.745-2.721c-2.57-2.268-5.774-1.684-5.774-1.684l-3.846,0.214l4.273,5.556
    c-0.427,2.35-1.282,2.137-1.282,2.137c-0.327,3.756,2.546,4.814,2.546,4.814l1.664-1.059c2.721-0.15,2.721,0.303,2.721,0.303
    l0.907,1.814l2.873-0.756l1.966-1.814l3.628,0.906c2.117,0.303,9.525,2.57,9.525,2.57v-2.116l2.117,1.663v2.268
    c3.326,0.908,3.78,4.385,3.78,4.385l3.175,2.117l1.663-2.57l8.165-2.419l-0.454,5.14l2.268,2.269
    c0.302,3.024,3.629,3.629,3.629,3.629v-1.513l3.175,0.605l12.247-19.051h1.209l3.931-4.687L78.1,774.803z"/></a><a onclick="district_johor('PAGOH')">
  
    <path id="path3347-1-1-3-8" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M10.588,773.428c-0.062-2.438,0.206-5.066,2.351-4.273c0,0,1.496,1.709,2.992,2.564c0,0,0.641,0.214,1.923-2.137
    c0,0,0-1.282-3.847-1.068v-1.923l1.709-1.709l-2.351-1.923l3.633-1.496c0,0-0.641-3.419,0.427-3.419c0,0,7.907-0.641,4.915,1.923
    c0,0-4.915,1.709-4.274,3.419c0,0,0.855,4.915,3.206,2.137l2.137-3.419l2.778,1.496l2.564-1.71l-3.419-3.205l2.137-2.992
    l-0.855-3.632l1.282-0.428l4.06,1.068l4.915-2.778l-0.213-3.846c0,0,0.641-0.641,3.419-2.564c0,0-0.214-3.846,2.137-8.12
    c0,0,0.641-4.488-0.213-10.898c0,0-5.77,0.427-5.77-8.12c0,0,0.427-7.052-3.206-7.266l-8.12-0.213c0,0-2.564,0.641-2.351-1.709
    l6.391-9.516c0,0,1.169,0.455,2.102,0.395l0.248-2.228h1.485c5.149,16.364,6.575-11.771,14.11,2.723l5.941-0.248l8.169,4.703
    l3.466-0.248v4.704h7.674l2.971-9.159h6.684l0.99,3.218h5.941c0,0,6.684,14.854,16.586,14.111l6.684,7.426l-10.985,23.286
    l-17.077,25.623L78.1,771.33v3.473l-22.73-0.145l-1.209,3.78l-9.828,4.688c-2.419,1.36-6.35-0.303-6.35-0.303
    c-1.058-0.756,2.268-3.931,2.268-3.931c-0.756-1.512-1.512-1.512-1.512-1.512c-3.931-0.756-5.745-2.873-5.745-2.873
    c-1.059-1.361-1.966-2.873-1.966-2.873c-0.302-1.512-1.663-1.663-1.663-1.663c-0.756-0.302-1.209,2.419-1.209,2.419l-5.141,3.175
    l-0.907,2.268c-1.36,0.302-5.745-2.722-5.745-2.722C13.791,772.844,10.588,773.428,10.588,773.428z"/></a><a onclick="district_johor('LEDANG')">
  
    <path id="path3347-1-1-3" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccssscccccccccccccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M-11.471,764.754l5.026,0.695l1.293,1.857l2.829-5.254c9.603,1.405,8.156-3.632,6.872-10.105
    c-4.778,0.512-6.065-1.703-10.509-1.617l-2.425-7.276l5.255-2.829l-0.809-14.551h2.83l0.404-4.042l0.404-12.935l2.83-0.808
    l8.943-12.276l9.321-8.797l2.75-3.364c0,0-1.075,3.033-0.794,6.584c0.141,1.775,0.668,3.597,1.934,5.068
    c0.633,0.736,1.45,1.383,2.497,1.894c0.523,0.255,1.103,0.476,1.746,0.656l-6.371,9.534c-0.213,2.351,2.351,1.709,2.351,1.709
    l8.12,0.213c3.633,0.214,3.206,7.266,3.206,7.266c0,8.547,5.77,8.12,5.77,8.12c0.854,6.41,0.213,10.897,0.213,10.897
    c-2.351,4.274-2.137,8.12-2.137,8.12c-2.778,1.923-3.419,2.564-3.419,2.564l0.213,3.846l-4.915,2.778l-4.06-1.068l-1.282,0.428
    l0.855,3.632l-2.137,2.992l3.419,3.205l-2.564,1.709l-2.778-1.496l-2.137,3.419c-2.351,2.778-3.206-2.137-3.206-2.137
    c-0.641-1.709,4.274-3.419,4.274-3.419c2.992-2.564-4.915-1.923-4.915-1.923c-1.068,0-0.427,3.419-0.427,3.419l-3.633,1.496
    l2.351,1.923l-1.709,1.709v1.923c3.847-0.214,3.847,1.068,3.847,1.068c-1.282,2.351-1.923,2.137-1.923,2.137
    c-1.496-0.854-2.992-2.564-2.992-2.564c-2.778-1.282-2.351,4.273-2.351,4.273l-3.846,0.214l4.273,5.556
    c-0.427,2.35-1.282,2.137-1.282,2.137l-4.447-0.25C2.524,773.016-11.471,764.754-11.471,764.754z"/></a><a onclick="district_johor('MUAR')">
  
    <path id="path3347-1-1-3-8-39-5" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M63.08,801.571l-3.175-0.605v1.513c0,0-3.327-0.604-3.629-3.629l-2.268-2.269l0.454-5.141l-8.165,2.42l-1.663,2.57l-3.175-2.117
    c0,0-0.454-3.477-3.78-4.385v-2.268l-2.117-1.663v2.116c0,0-7.409-2.268-9.525-2.57l-3.628-0.906l-1.966,1.814l-2.873,0.756
    l-0.907-1.814c0,0,0-0.453-2.721-0.303l-1.664,1.059c0,0-2.873-1.059-2.546-4.814l-4.394-0.25c0.281,1.145,0.376,2.726-0.047,3.811
    c0-2.97,36.054,46.715,40.352,37.336l12.43-0.166c3.041-7.643,3.495-10.364,3.495-10.364
    C62.475,805.805,63.08,801.571,63.08,801.571L63.08,801.571z"/></a><a onclick="district_johor('TANJONG PIAI')">
  
    <path id="path3347-1-1-8-1" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M212.342,875.466l-0.984,1.772l-2.756,0.591v2.952l-1.771,1.969l5.315,2.56l2.165-1.379l2.559,6.693l-3.937,2.361l-0.984-0.59
    l-1.771-0.591l-0.787,1.575v3.346l-3.347,5.315l0.197,5.118l-3.149-0.787l-0.197-2.166l-1.181,0.394c0,0-0.59,0.788-0.984,4.725
    l-3.015,4.692l2.404,6.459l9.617,25.834h1.131l14.708,12.822l0.377-9.806l8.674-5.28l-0.377-5.656
    c-1.828-6.822-0.057-14.105-0.057-14.105c2.56-3.74,2.756-9.252,2.756-9.252l-0.196-2.165l2.952-3.347
    c1.966,2.152,4.003,0.918,1.969-2.559l-0.196-7.086l-7.874,0.393c-6.102-1.968-7.48-6.889-7.48-6.889l0.197-6.496L212.342,875.466z
    "/></a><a onclick="district_johor('PONTIAN')">
  
    <path id="path20955-1-7-4-8-6" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccscccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M191.992,857.598c-6.543-4.362-30.989-13.167-30.989-13.167c-6.273,14.316-6.273,14.959-6.273,14.959
    c-1.769,9.49,1.287,14.959,1.287,14.959l-2.115,2.937c4.415,2.401,8.967,4.746,13.369,6.938
    c8.804,4.384,17.006,8.155,23.229,10.418l4.809,12.917l2.404,6.458l3.015-4.692c0.394-3.937,0.984-4.725,0.984-4.725l1.181-0.394
    l0.197,2.166l3.149,0.787l-0.197-5.118l3.347-5.315v-3.346l0.787-1.575l1.771,0.591l0.984,0.59l3.937-2.361l-2.559-6.693
    l-2.165,1.379l-5.315-2.56l1.771-1.969v-2.952l2.756-0.591l0.984-1.772L191.992,857.598z"/></a><a onclick="district_johor('TEBRAU')">
  
    <path id="path3347-1-1-8-6-3-6-0" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccsccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
    M337.206,917.647v-23.76c0,0-1.886-4.525-11.69-16.971l5.639,0.463l2.153-4.949l-6.22-2.371l-3.555-0.197l-4.048-4.245h-3.062
    l-1.382,4.641l-4.146,4.245l3.258,3.357l-2.073,3.258l-2.271-1.283l-0.987,2.172l-4.442-1.185l-1.086,1.679l-5.135-5.826
    l-10.07-3.356l-0.987-2.765l0.987-1.086h-2.666l-0.099-3.159H279.3l-3.456,1.975l2.835,3.442l-0.395,1.772h-2.559
    c0,0-5.905,1.575-5.905,3.739v4.135l3.275,2.638v3.137l1.493,1.345l-1.792,3.137l-3.286-3.585
    c-2.988-0.896-2.241,1.046-2.241,1.046v1.941c2.838,2.689,2.838,5.527,2.838,5.527l3.846,0.373l4.43,2.109l5.484-1.371l2.742,1.055
    l4.756-0.283l1.565-4.604l9.942,0.921l0.828,0.829l2.946-0.093c2.394-1.749,4.419-2.762,4.419-2.762l5.432,0.921l2.485,4.879
    l0.276,7.181l-3.222,6.444c0.092,4.234,1.841,8.838,1.841,8.838C327.877,923.376,337.206,917.647,337.206,917.647L337.206,917.647z
    "/></a><a onclick="district_johor('GELANG PATAH')">
  
    <path id="path3347-1-1-8-1-7" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccssscc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M263.984,912.54v1.494c0,0-4.631-1.045-9.262-3.734v-1.643l3.436-3.734h3.437l8.514-8.365c0,0,0-2.838-2.838-5.527v-1.941
    c0,0-0.747-1.942,2.241-1.047l3.286,3.586l1.792-3.137l-1.493-1.345v-3.138l-3.275-2.637l-3.74-3.15l-1.378,3.74l-6.299-0.196
    c0,0-3.347-0.788-1.575,1.378l4.725,5.314c0,0-1.969,4.134-7.283,3.15c0,0-0.197,0-2.165-2.953c0,0-0.984-0.591-8.071-0.591v-6.692
    l-4.724-6.103h-3.938c0,0-4.564,1.575-10.76,10.183l1.705,1.432l-0.197,6.496c0,0,1.379,4.921,7.48,6.889l7.874-0.393l0.196,7.086
    c2.034,3.477-0.003,4.711-1.969,2.559l-2.952,3.347l0.196,2.165c0,0-0.196,5.512-2.756,9.252c0,0-1.771,7.283,0.057,14.105
    c9.626,1.947,14.465,0.379,19.239-4.382c2.388-2.38,4.759-5.558,7.704-9.493c1.473-1.967,3.089-4.123,4.922-6.464
    c0.917-1.171,1.141-1.64,2.264-2.787C267.251,913.544,267.652,912.731,263.984,912.54L263.984,912.54z"/></a><a onclick="district_johor('PULAI')">
  
    <path id="path3347-1-1-8-1-7-3" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccc" fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
    M270.108,896.557l-8.514,8.365h-3.437l-3.436,3.734v1.643c4.631,2.689,9.262,3.734,9.262,3.734v-1.494
    c3.668,0.191,3.267,1.004,4.393,2.725l3.962-4.783c2.67,4.22,8.058,8.495,12.479,3.745l-4.113-5.378l-5.59,0.105l-2.426-1.477
    v-2.004l5.695-2.848v-3.586l-4.43-2.109L270.108,896.557z"/></a><a onclick="district_johor('PASIR GUDANG')">
  
    <path id="path3347-1-1-8-6-3" inkscape:connector-curvature="0" sodipodi:nodetypes="ccsccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M314.484,920.099c-5.469-2.074-8.58-5.469-8.58-5.469c-3.206-6.034-7.637-6.977-11.268-6.411c-0.907,0.142-1.765,0.377-2.33,0.745
    l-0.213-3.596l-1.054-1.477c-2.531,1.898-4.43-5.168-4.43-5.168l4.756-0.283l1.565-4.604l9.942,0.921l0.828,0.829l2.946-0.093
    c2.394-1.749,4.419-2.762,4.419-2.762l5.432,0.921l2.485,4.879l0.276,7.181c-2.21,4.419-3.222,6.444-3.222,6.444
    c0.092,4.234,1.841,8.838,1.841,8.838S316.131,920.719,314.484,920.099L314.484,920.099z"/></a><a onclick="district_johor('JOHOR BAHRU')">
  
    <path id="path3347-1-1-8-1-7-3-7" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M278.383,899.04v3.586l-5.695,2.848v2.004l2.426,1.477l5.59-0.105l4.113,5.378c2.531-1.371,3.361-3.368,3.361-3.368
    c1.371-1.477,4.337-1.799,4.337-1.799l-0.422-3.691l-1.054-1.477c-2.531,1.898-4.43-5.168-4.43-5.168l-2.742-1.055L278.383,899.04z
    "/></a><a onclick="district_johor('ENDAU')">
  
    <path id="path3347-1-1-6_1_" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
    M297.23,692.12v-7.92h-2.641v-6.789l6.034-1.508l-5.279-5.28c0,0,6.411-7.92-15.463-18.856V644.6l-2.64-3.394l-1.132,7.543
    l-15.84-7.92l-7.181,1.011c-5.937,29.739-7.07,30.496-7.07,30.496l7.563,0.756c3.404,15.128-2.647,15.506-2.647,15.506
    l-60.891-30.635l-14.656,5.503l18.299,41.034l20.012-3.833l16.724,11.073L297.23,692.12"/></a><a onclick="district_johor('MERSING')">
  
    <path id="path3347-1-1-6" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
    M297.23,692.12c-46.694,12.617-46.57,14.124-46.57,14.124l1.91,18.832l-2.034,0.452l-2.26,2.034
    c0.678,4.972,0.452,6.102,0.452,6.102l-11.978,46.78l113.814-0.102l-13.358-22.599c0,0-10.938-3.017-12.068-21.12l7.542-3.017
    l-9.051-9.806l3.017-3.394l-5.279-5.657h-1.886l-13.2-10.937l-3.017-10.183h-2.263L297.23,692.12"/></a><a onclick="district_johor('KOTA TINGGI')">
  
    <path id="path3347-1-1-8-6-3-6-9" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M360.966,805.638l-0.377,12.445c2.64,10.183,10.56,9.051,10.56,9.051c4.62,9.759,8.539,18.764,11.859,27.049
    c0,0-5.364,5.396-14.846,10.744l2.432,4.619c0,0-11.427,2.432-19.692-0.242c0,0-1.215,2.674-4.133,2.916v1.459l-5.105-0.973v2.918
    l2.918,5.348c0,0,3.646,2.188,3.646,2.918c0,0,0.486,3.646-0.729,7.051c0,0-1.702,1.701-4.918,1.627l-0.094-3.583l-11.323-11.647
    l2.145-4.906l-6.221-2.371l-3.554-0.197l-2.024-2.122l1.281-0.997v-2.877l1.599-1.598l-1.758-0.799l0.799-1.759l-0.799-1.278
    l-2.398,0.479l-1.758-1.278v-3.196l-1.758-2.877l3.516-2.877v-3.357l1.918-1.598l-0.159-3.517c3.996-2.397,6.873-6.713,6.873-6.713
    v-7.032l-13.267-13.267l1.438-2.558c1.599-1.918-1.278-2.877-1.278-2.877h-1.759l-10.389,0.799
    c-6.074,0.48-13.106,2.877-13.106,2.877l-10.811-31.018l13.965-0.032l56.907-0.051l14.549,23.789L360.966,805.638z"/></a><a onclick="district_johor('PENGERANG')">
  
    <path id="path3347-1-1-8-6-3-6-9-5" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccssccccccccccccc" fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" d="
    M342.674,896.15l0.188,7.165h1.509l1.508,5.657c0,0-3.394,5.28,1.132,7.92l6.411,1.886l7.92,6.789l0.377,2.262l-5.279,6.035
    c0,0,17.348,15.84,43.747,1.131c0,0,1.98-7.448-0.659-24.655c-1.32-8.603-3.795-19.646-8.25-33.417
    c-2.228-6.887-4.95-14.454-8.271-22.74c0,0-5.364,5.396-14.846,10.744l2.432,4.619c0,0-11.426,2.432-19.692-0.242
    c0,0-1.215,2.674-4.133,2.916v1.459l-5.105-0.973v2.918l2.918,5.349c0,0,3.646,2.188,3.646,2.917c0,0,0.486,3.646-0.729,7.051
    c0,0-1.701,1.701-4.918,1.627L342.674,896.15z"/></a><a onclick="district_johor('sem')">
  
    <path id="path3347-1-1" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="none" stroke="#000000" stroke-width="0.75" d="
    M246.019,672.335l7.563,0.757c3.404,15.128-2.647,15.506-2.647,15.506l-60.89-30.634l-45.006,16.263L98.52,652.669l-35.929-43.494
    l-19.785-8.597l-18.207,47.8l4.334,5.015l-6.285,6.427v8.712l1,3.714l-2.143,2.571l0.143,3.856l2.142,4.285l-2.999,3.856
    l-9.321,8.797l-8.943,12.276l-2.83,0.809l-0.404,12.934l-0.404,4.042h-2.83l0.809,14.551l-5.255,2.83l2.425,7.275
    c4.444-0.086,5.731,2.129,10.509,1.617c1.284,6.473,2.731,11.511-6.872,10.105l-2.829,5.254l-1.293-1.857l-5.026-0.695
    c0,0,20.191,11.467,16.797,20.141c0-2.97,36.205,47.471,41.108,37.336H58.88c0,0,2.11-1.998,24.514,10.938v7.543l11.314,9.805
    l14.331,1.886c0,0,56.57,33.188,81.461,42.239l19.234,51.668h1.131l14.708,12.822l0.377-9.805l8.674-5.281l-0.377-5.656
    c19.252,3.896,19.357-6.277,38.091-27.908c0,0,7.543,12.445,15.84,0.377c0,0,11.314-8.297,17.726,3.771
    c0,0,12.445,13.577,31.303,3.018v-23.76c0,0-1.886-4.525-11.691-16.971l5.657,0.377l11.313,11.69l0.377,14.331h1.509l1.509,5.657
    c0,0-3.395,5.28,1.131,7.92l6.412,1.886l7.92,6.789l0.377,2.262l-5.28,6.035c0,0,17.349,15.84,43.748,1.131
    c0,0,7.92-29.793-29.04-107.861c0,0-7.92,1.132-10.56-9.051l0.377-12.445l4.148-1.509l-27.907-46.388
    c0,0-10.938-3.017-12.068-21.12l7.542-3.017l-9.051-9.806l3.017-3.394l-5.279-5.657h-1.886l-13.2-10.937l-3.017-10.183h-2.263
    l-3.771-1.508v-7.92h-2.641v-6.789l6.034-1.508l-5.279-5.28c0,0,6.411-7.92-15.463-18.856V644.6l-2.64-3.394l-1.132,7.543
    l-15.84-7.92l-7.181,1.011C247.153,671.579,246.019,672.336,246.019,672.335L246.019,672.335z"/></a><a onclick="district_johor('TENGGARA')">
  
    <path id="path3347-1-1-8-6-3-6-0-8" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M236.751,780.442l2.485,23.729h-3.842l-0.226,9.039l3.052,4.035l2.67,0.729c2.479,3.636,3.086,4.969,3.086,4.969
    c3.15,3.15,2.908,3.393,2.908,3.393l0.363,1.939l3.756,1.332l4.969,8.24l0.856,2.975l3.74,4.331h2.362l1.969,6.496l-1.575,1.378
    l7.677,9.35l3.839,4.682l1.004,1.226l3.456-1.975h6.022l0.099,3.159h2.666l-0.987,1.086l0.987,2.766l10.07,3.356l5.135,5.825
    l1.086-1.678l4.442,1.184l0.987-2.172l2.271,1.283l2.073-3.258l-3.258-3.357l4.146-4.244l1.382-4.641h3.062l2.023,2.122
    l1.281-0.997v-2.877l1.599-1.598l-1.758-0.799l0.799-1.759l-0.799-1.278l-2.397,0.479l-1.759-1.277v-3.197l-1.758-2.877
    l3.517-2.877v-3.356l1.918-1.599l-0.16-3.516c3.996-2.398,6.873-6.713,6.873-6.713v-7.033l-13.267-13.267l1.438-2.558
    c1.599-1.918-1.278-2.877-1.278-2.877h-1.759l-10.389,0.799c-6.074,0.48-13.106,2.877-13.106,2.877l-10.549-30.999L236.751,780.442
    z"/></a><a onclick="district_johor('SEMBRONG')">
  
    <path id="path20955-1-7-4" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M160.377,788.358l-1.754-2.842l-3.508-5.686l-7.016-11.371v-5.645l-2.742-3.226l1.452-3.387l-16.245-2.685l0.248-10.645
    c0,0,2.723-5.941,47.035-20.794l15.843-17.576l20.012-3.833l16.724,11.073l20.112-7.005c0.452,3.39-0.452,3.39-0.452,3.39
    l2.486,16.949l-2.034,0.452l-2.26,2.034c0.678,4.972,0.452,6.102,0.452,6.102l-11.978,46.78l2.485,23.729h-3.842l-0.226,9.039
    l-8.361,6.103l-4.521-6.327l-6.327,5.197l-7.231-8.588l1.582-2.26l-2.034-1.355c-0.678-0.904-11.525,6.327-11.525,6.327
    c0.452-2.938-4.52-4.972-4.52-4.972l-4.972-6.102l17.853-12.203c-7.684-5.424-9.717-11.074-9.717-11.074l-4.294-0.678
    c-4.972-5.198-6.78-6.328-6.78-6.328h-2.034l-0.678-0.904v-1.808l-7.006-7.909l-3.842,17.627l-5.533,5.542L160.377,788.358z"/></a><a onclick="district_johor('KULAI')">
  
    <path id="path20955-1-7-4-8-8" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M255.972,837.847h-2.666l-2.908-1.818h-1.938l-1.333,0.606h-4.12c-1.091,0.242-3.757,2.181-3.757,2.181l-8.482-3.393h-9.936
    l-8.967,7.513l-3.999-2.544l-3.514,2.302l-12.36,14.904l20.349,17.868l6.988,5.709l3.494,2.854l1.747,1.427
    c6.077-8.611,10.802-10.187,10.802-10.187h3.938l4.724,6.103v6.693c7.087,0,8.071,0.59,8.071,0.59
    c1.968,2.953,2.165,2.953,2.165,2.953c5.314,0.984,7.283-3.15,7.283-3.15l-4.725-5.314c-1.771-2.166,1.575-1.378,1.575-1.378
    l6.299,0.196l1.378-3.74l3.74,3.15v-4.134c0-2.165,5.905-3.74,5.905-3.74h2.559l0.395-1.771l-15.354-18.7l1.575-1.379l-1.969-6.496
    h-2.362l-3.74-4.33L255.972,837.847z"/></a><a onclick="district_johor('SIMPANG RENGGAM')">
  
    <path id="path20955-1-7-4-8" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M161.003,844.431l-8.364-3.377l-0.67-11.305v-5.482l2.581-3.227l-2.258-2.42l3.387-5.16l-0.645-1.775l-2.742-0.645
    c-1.29-0.484-1.29-4.032-1.29-4.032l4.838-1.612l0.968-5.646l2.581-0.806c2.097-3.226,5.967-4.354,5.967-4.354
    c4.302,0.592,5.103,1.072,5.103,1.072l1.361,1.922l2.163,0.4c3.764,4.565,4.004,6.008,4.004,6.008
    c2.963,2.482,2.643,7.688,2.643,7.688l5.125,8.49l2.243-1.682l2.803,1.602c0.16-2.964,2.323-3.925,2.323-3.925
    c2.483-1.683,3.626-3.857,3.626-3.857s10.847-7.231,11.525-6.327l2.034,1.355l-1.582,2.26l7.231,8.588l6.327-5.198l4.521,6.327
    l8.361-6.102l3.052,4.035l2.67,0.728c2.479,3.636,3.086,4.97,3.086,4.97c3.15,3.15,2.907,3.393,2.907,3.393l0.364,1.938
    l3.756,1.333l4.969,8.24h-2.666l-2.908-1.818h-1.938l-1.333,0.605h-4.12c-1.091,0.243-3.757,2.182-3.757,2.182l-8.482-3.393h-9.936
    l-8.967,7.513l-3.999-2.544l-3.514,2.301l-12.36,14.904C185.449,853.235,161.003,844.431,161.003,844.431L161.003,844.431z"/></a><a onclick="district_johor('KLUANG')">
  
    <path id="path20955-1-7-4-4" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccc" fill="#FF0066" stroke="#000000" stroke-width="0.75" stroke-linecap="square" stroke-linejoin="round" d="
    M196.751,812.307c0.452-2.938-4.52-4.972-4.52-4.972l-4.972-6.102l17.853-12.203c-7.684-5.424-9.717-11.074-9.717-11.074
    l-4.294-0.678c-4.972-5.198-6.78-6.328-6.78-6.328h-2.034l-0.678-0.904v-1.808l-7.006-7.909l-3.842,17.627l-10.39,10.37
    l1.758,2.876c0,0,5.484,1.935,3.226,3.387c4.302,0.592,5.103,1.072,5.103,1.072l1.361,1.922l2.163,0.4
    c3.764,4.566,4.004,6.008,4.004,6.008c2.963,2.482,2.643,7.688,2.643,7.688l5.125,8.49l2.243-1.682l2.803,1.602
    c0.16-2.964,2.323-3.925,2.323-3.925C195.607,814.482,196.751,812.307,196.751,812.307z"/></a>
  <path id="path13001" inkscape:connector-curvature="0" sodipodi:nodetypes="cc" fill="none" stroke="#000000" d="M259.571,943.307
    l4.817-34.884"/>
  <path id="path13001-6" inkscape:connector-curvature="0" sodipodi:nodetypes="cc" fill="none" stroke="#000000" d="
    M282.601,937.831v-30.594"/>
  
    <circle id="path13018-5-9-6-0-8" fill="#FF0066" stroke="#000000" stroke-linecap="square" stroke-linejoin="round" cx="87.919" cy="840.403" r="0"/>
  <path id="path13686" inkscape:connector-curvature="0" fill="none" stroke="#000000" d="M311.086,903.149v29.906"/>
  <text transform="matrix(1 0 0 1 255.57 660.8309)" font-family="'ArialMT'" font-size="9">Endau</text>
  <text transform="matrix(1 0 0 1 275.236 744.536)" font-family="'ArialMT'" font-size="9">Mersing</text>
  <text transform="matrix(1 0 0 1 169.4206 790.2489)" font-family="'ArialMT'" font-size="7">Kluang</text>
  <text transform="matrix(1 0 0 1 256.8083 821.0067)" font-family="'ArialMT'" font-size="9">Tenggara</text>
  <text transform="matrix(1 0 0 1 328.863 811.663)"><tspan x="0" y="0" font-family="'ArialMT'" font-size="9">Kota </tspan><tspan x="0" y="10.799" font-family="'ArialMT'" font-size="9">Tinggi</tspan></text>
  <text transform="matrix(1 0 0 1 114.9934 787.9442)" font-family="'ArialMT'" font-size="7">Ayer Hitam</text>
  <text transform="matrix(1 0 0 1 163.8254 831.4716)" font-family="'ArialMT'" font-size="7">Simpang Renggam</text>
  <text transform="matrix(1 0 0 1 224.9304 859.9305)" font-family="'ArialMT'" font-size="7">Kulai</text>
  <text transform="matrix(1 0 0 1 168.84 875.2704)" font-family="'ArialMT'" font-size="7">Pontian</text>
  <text transform="matrix(1 0 0 1 209.5354 907.5907)"><tspan x="0" y="0" font-family="'ArialMT'" font-size="7">Tanjong </tspan><tspan x="0" y="8.4" font-family="'ArialMT'" font-size="7">Piai</tspan></text>
  <text transform="matrix(1 0 0 1 358.529 914.0165)" font-family="'ArialMT'" font-size="7">Pengerang</text>
  <text transform="matrix(1 0 0 1 115.7902 850.8485)" font-family="'ArialMT'" font-size="7">Batu Pahat</text>
  <text transform="matrix(1 0 0 1 241.7067 896.5282)"><tspan x="0" y="0" font-family="'ArialMT'" font-size="7">Gelang </tspan><tspan x="0" y="8.399" font-family="'ArialMT'" font-size="7">Patah</tspan></text>
  <text transform="matrix(1 0 0 1 292.5153 888.5282)" font-family="'ArialMT'" font-size="7">Tebrau</text>
  <text transform="matrix(1 0 0 1 305.7497 939.2059)"><tspan x="0" y="0" font-family="'ArialMT'" font-size="7">Pasir </tspan><tspan x="0" y="8.4" font-family="'ArialMT'" font-size="7">Gudang</tspan></text>
  <text transform="matrix(1 0 0 1 249.6013 952.87)" font-family="'ArialMT'" font-size="7">Pulai</text>
  <text transform="matrix(1 0 0 1 269.7692 943.3075)"><tspan x="0" y="0" font-family="'ArialMT'" font-size="7">Johor </tspan><tspan x="0" y="8.4" font-family="'ArialMT'" font-size="7">Bahru</tspan></text>
  <text transform="matrix(1 0 0 1 96.1296 821.0067)" font-family="'ArialMT'" font-size="7">Sri Gading</text>
  <text transform="matrix(1 0 0 1 80.4675 786.3309)"><tspan x="0" y="0" font-family="'ArialMT'" font-size="7">Parit </tspan><tspan x="0" y="8.399" font-family="'ArialMT'" font-size="7">Sulong</tspan></text>
  <text transform="matrix(1 0 0 1 29.9738 649.9706)" font-family="'ArialMT'" font-size="9">Segamat</text>
  <text transform="matrix(1 0 0 1 68.6403 670.056)" font-family="'ArialMT'" font-size="9">Sekijang</text>
  <text transform="matrix(1 0 0 1 114.9934 787.9442)" font-family="'ArialMT'" font-size="7">Ayer Hitam</text>
  <text transform="matrix(1 0 0 1 51.8972 789.3378)" font-family="'ArialMT'" font-size="7">Bakri</text>
  <text transform="matrix(1 0 0 1 34.1862 808.3387)" font-family="'ArialMT'" font-size="7">Muar</text>
  <text transform="matrix(1 0 0 1 7.697 736.2025)" font-family="'ArialMT'" font-size="7">Ledang</text>
  <text transform="matrix(1 0 0 1 51.8972 738.9584)" font-family="'ArialMT'" font-size="7">Pagoh</text>
  <text transform="matrix(1 0 0 1 130.9035 702.4979)" font-family="'ArialMT'" font-size="9">Labis</text>
  <text transform="matrix(1 0 0 1 175.3889 749.8695)" font-family="'MyriadPro-Regular'" font-size="10">Sembrong</text>
</g>
</svg>
              <div class="icon_Temerloh map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Raub map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Lipis map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_CameronHighlands map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_CameronHighlands map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Jerantut map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Kuantan map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Rompin map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Bera map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Bentong map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Pekan map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Maran map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
            </div>
          </div>
        </div>

<script>
  function districtjohor_map(dist){
    $('#divjohorheader')[0].innerHTML=dist;
     $("#divtotal_malaysialist").hide();
    $('#div_johor_states').show()

    $('#state-select').val(dist)
    
     //$.ajax({
    //url: "/districts/" + dist,
    //dataType: "json",
    //success:function(data){
      
     $('#divnoofjohordoctors')[0].innerHTML=Math.floor((Math.random() * 100) + 1);//data.noofdoctors
     $('#divnoofjohorxray')[0].innerHTML=Math.floor((Math.random() * 50) + 1);//data.noofxray
     $('#divnoofjohorlab')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.nooflab
     $('#divnoofjohoremployer')[0].innerHTML=Math.floor((Math.random() * 60) + 1);//data.empcount
     $('#divnoofjohorfw')[0].innerHTML=Math.floor((Math.random() * 200) + 1);//data.fwcount
     $('#divdetectablediseasejohor')[0].innerHTML=Math.floor((Math.random() * 900) + 1);//data.detectdisease
     $('#commdiseasesjohor')[0].innerHTML=Math.floor((Math.random() * 400) + 1);//data.commcount
     $('#noncommdiseasesjohor')[0].innerHTML=Math.floor((Math.random() * 500) + 1);//data.noncommcount
     $('#divjohortuberculosis')[0].innerHTML=Math.floor((Math.random() * 300) + 1);//data.tuberculosis
     $('#divjohorhepatisis')[0].innerHTML=Math.floor((Math.random() * 200) + 1);//data.hepatisis
     $('#divjohorsyphilis')[0].innerHTML=Math.floor((Math.random() * 100) + 1);//data.syphilis
     $('#divjohorhiv')[0].innerHTML=Math.floor((Math.random() * 120) + 1);//data.hiv
     $('#divjohormalaria')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.malaria
     $('#divjohorleprosy')[0].innerHTML=Math.floor((Math.random() * 120) + 1);//data.leporacy

     $('#divjohorpreg')[0].innerHTML=Math.floor((Math.random() * 130) + 1);//data.pregnancy
     $('#divjohorurine')[0].innerHTML=Math.floor((Math.random() * 20) + 1);//data.urine
     $('#divjohorcannabis')[0].innerHTML=Math.floor((Math.random() * 30) + 1);//data.cannabis
     $('#divjohorillness')[0].innerHTML=Math.floor((Math.random() * 40) + 1);//data.illness
     $('#divjohorepilepsy')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.epilsey
     $('#divjohorcancer')[0].innerHTML=Math.floor((Math.random() * 320) + 1);//data.cancer
     $('#divjohorhyper')[0].innerHTML=Math.floor((Math.random() * 200) + 1);//data.hypertension
     $('#divjohordiabetes')[0].innerHTML=Math.floor((Math.random() * 90) + 1);//data.diabetes
     $('#divjohorkidney')[0].innerHTML=Math.floor((Math.random() * 100) + 1);//data.kidney
     $('#divjohorheart')[0].innerHTML=Math.floor((Math.random() * 40) + 1);//data.heart
     $('#divjohorulcer')[0].innerHTML=Math.floor((Math.random() * 60) + 1);//data.ulcer
     $('#divjohorasthama')[0].innerHTML=Math.floor((Math.random() * 70) + 1);//data.asthama
     $('#divjohorothers')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.others
   // }
    //})

  }
  function district_johor(dist){  
  $('#district-select option:selected').text(dist)  
   $('#divjohorheader')[0].innerHTML=dist;
    // $.ajax({
    //url: "/districtname/" + dist,
    //dataType: "json",
    //success:function(data){
      
 $('#divnoofjohordoctors')[0].innerHTML=Math.floor((Math.random() * 100) + 1);//data.noofdoctors
     $('#divnoofjohorxray')[0].innerHTML=Math.floor((Math.random() * 50) + 1);//data.noofxray
     $('#divnoofjohorlab')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.nooflab
     $('#divnoofjohoremployer')[0].innerHTML=Math.floor((Math.random() * 60) + 1);//data.empcount
     $('#divnoofjohorfw')[0].innerHTML=Math.floor((Math.random() * 200) + 1);//data.fwcount
     $('#divdetectablediseasejohor')[0].innerHTML=Math.floor((Math.random() * 900) + 1);//data.detectdisease
     $('#commdiseasesjohor')[0].innerHTML=Math.floor((Math.random() * 400) + 1);//data.commcount
     $('#noncommdiseasesjohor')[0].innerHTML=Math.floor((Math.random() * 500) + 1);//data.noncommcount
     $('#divjohortuberculosis')[0].innerHTML=Math.floor((Math.random() * 300) + 1);//data.tuberculosis
     $('#divjohorhepatisis')[0].innerHTML=Math.floor((Math.random() * 200) + 1);//data.hepatisis
     $('#divjohorsyphilis')[0].innerHTML=Math.floor((Math.random() * 100) + 1);//data.syphilis
     $('#divjohorhiv')[0].innerHTML=Math.floor((Math.random() * 120) + 1);//data.hiv
     $('#divjohormalaria')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.malaria
     $('#divjohorleprosy')[0].innerHTML=Math.floor((Math.random() * 120) + 1);//data.leporacy

     $('#divjohorpreg')[0].innerHTML=Math.floor((Math.random() * 130) + 1);//data.pregnancy
     $('#divjohorurine')[0].innerHTML=Math.floor((Math.random() * 20) + 1);//data.urine
     $('#divjohorcannabis')[0].innerHTML=Math.floor((Math.random() * 30) + 1);//data.cannabis
     $('#divjohorillness')[0].innerHTML=Math.floor((Math.random() * 40) + 1);//data.illness
     $('#divjohorepilepsy')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.epilsey
     $('#divjohorcancer')[0].innerHTML=Math.floor((Math.random() * 320) + 1);//data.cancer
     $('#divjohorhyper')[0].innerHTML=Math.floor((Math.random() * 200) + 1);//data.hypertension
     $('#divjohordiabetes')[0].innerHTML=Math.floor((Math.random() * 90) + 1);//data.diabetes
     $('#divjohorkidney')[0].innerHTML=Math.floor((Math.random() * 100) + 1);//data.kidney
     $('#divjohorheart')[0].innerHTML=Math.floor((Math.random() * 40) + 1);//data.heart
     $('#divjohorulcer')[0].innerHTML=Math.floor((Math.random() * 60) + 1);//data.ulcer
     $('#divjohorasthama')[0].innerHTML=Math.floor((Math.random() * 70) + 1);//data.asthama
     $('#divjohorothers')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.others
   // }
    //})
  }
  function closejohoricon(){
     $("#divtotal_malaysialist").show();
    $('#div_johor_states').hide()
      clearvalues();
   
  }
</script>


