    <div id="div_kelantan_states" class="pahan svg-content" style="display: none;">
          <div class="map-title" style="z-index: 100;"> KELANTAN </div>
          <br/>
          <div class="text-info1"><a onclick="closekelantanicon()">
            <i class="fa fa-close close-btn" id="divtotal_malaysiabtn_johor"></i></a>
            <div class="hidden statediv" id="sabah_district14">
              <div id="myRadioGroup" class="submap-title">
                <h1><div id="divkelantanheader"></div> </h1>
                <div class="box div_Pekan div_statesvg">
                  <ul>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Doctors
                      </div>
                      <div id="divnoofkelantandoctors"> </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i>Number of X-ray
                      </div>
                      <div id="divnoofkelantanxray"></div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Lab
                      </div>
                      <div id="divnoofkelantanlab"> </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Employer
                      </div>
                      <div id="divnoofkelantanemployer">  </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of FW
                      </div>
                      <div id="divnoofkelantanfw">  </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Detectable Disease/Condition
                      </div>
                      <div id="divdetectablediseasekelantan"> </div>
                    </li>
                    <li class="p-0">
                      <div id="accordion3" style="width: 100%!important;float:left">
                        <div class="card">
                          <div class="card-header" style="background: #be0022;
                                              color: #fff;">
                            <a class="card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseOne16"> Communicable Diseases <span><div id="commdiseaseskelantan"></div>  </span>
                            </a>
                          </div>
                          <div id="collapseOne16" class="collapse" data-parent="#accordion3">
                            <div class="card-body" style="float: left; padding: 0px;">
                              <div class="box div_Pekan div_statesvg">
                                <ul>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i>Tuberculosis
                                    </div>
                                    <div id="divkelantantuberculosis">  </div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Hepatitis B
                                    </div>
                                    <div id="divkelantanhepatisis"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Syphilis
                                    </div>
                                    <div id="divkelantansyphilis"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> HIV/AIDS
                                    </div>
                                    <div id="divkelantanhiv"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Malaria
                                    </div>
                                    <div id="divkelantanmalaria"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Leprosy
                                    </div>
                                    <div id="divkelantanleprosy"></div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" style="background: #be0022;
                                              color: #fff;">
                            <a class="collapsed card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseTwo17"> Non-Communicable Diseases <span><div id="noncommdiseaseskelantan"></div> </span>
                            </a>
                          </div>
                          <div id="collapseTwo17" class="collapse" data-parent="#accordion3">
                            <div class="card-body" style="float: left; padding: 0px;">
                              <div class="box div_Pekan div_statesvg">
                                <ul>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i>Pregnancy
                                    </div>
                                    <div id="divkelantanpreg"> </div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Urine Opiates
                                    </div>
                                    <div id="divkelantanurine"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Urine Cannabis
                                    </div>
                                    <div id="divkelantancannabis"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Psychiatric Illness
                                    </div>
                                    <div id="divkelantanillness"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Epilepsy
                                    </div>
                                    <div id="divkelantanepilepsy"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Cancer
                                    </div>
                                     <div id="divkelantancancer"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Hypertension
                                    </div>
                                     <div id="divkelantanhyper"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Diabetes
                                    </div>
                                    <div id="divkelantandiabetes"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Kidney Disease
                                    </div>
                                     <div id="divkelantankidney"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Heart Disease
                                    </div>
                                     <div id="divkelantanheart"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Peptic Ulcer
                                    </div>
                                     <div id="divkelantanulcer"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Bronchial Asthma
                                    </div>
                                     <div id="divkelantanasthama"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Others
                                    </div>
                                     <div id="divkelantanothers"></div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="svg-map">
            <div class="sub-map">
  <svg version="1.1"
   id="svg4838" inkscape:version="0.91 r13725" sodipodi:docname="kelantan parlimen.svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 
   viewBox="-9.127 -7.699 331.873 397" enable-background="new -9.127 -7.699 331.873 397" xml:space="preserve">
<sodipodi:namedview  id="base" inkscape:window-maximized="1" fit-margin-bottom="0" fit-margin-right="0" inkscape:guide-bbox="true" inkscape:snap-nodes="false" inkscape:window-y="-4" inkscape:window-x="-4" inkscape:window-height="740" inkscape:window-width="1280" inkscape:current-layer="layer1" inkscape:document-units="px" inkscape:pageshadow="2" inkscape:pageopacity="0.0" inkscape:cy="242.76349" inkscape:cx="223.07871" inkscape:zoom="1.0710956" fit-margin-left="0" borderopacity="1.0" fit-margin-top="0" showgrid="false" bordercolor="#666666" pagecolor="#ffffff" showguides="true">
  </sodipodi:namedview>
<g id="layer1" transform="translate(3.247887e-8,-572.85916)" inkscape:label="Layer 1" inkscape:groupmode="layer"><a onclick="district_kelantan('TUMPAT')">
  
    <path id="path3394" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccc" fill="#BCD26D" stroke="#000000" d="
    M202.841,600.97l-0.172-7.934l3.734-4.88l-8.604-10.711l-3.688-1.42l-1.58,2.649l-11.063,1.756l-10.359-6.497l-4.039,1.404
    l-1.229,12.468l5.443,4.917h4.039l-0.176,3.161l4.564,5.795h5.619l1.055,2.283l2.106-0.703l1.932,2.107l2.964,0.135l-0.199,1.74
    c0,0,4.366-0.378,7.023,1.216C197.961,605.961,202.841,600.97,202.841,600.97L202.841,600.97z"/></a><a onclick="district_kelantan('MACHANG')">
  
    <path id="path3404-9-5-1" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#BCD26D" stroke="#000000" d="
    M207.199,651.837l4.221,2.607l-0.496,16.264l6.455,2.358l-0.372,9.187l3.104,0.125v1.241h4.594l0.497,2.111l7.2,0.248v-7.076
    l4.842,0.621l0.993,5.214l1.49-0.373v0.621v0.993l8.069,0.249l-3.228,3.849l-9.561,7.945l-1.861,2.855l-2.469,2.618h-3.629
    l-1.382-1.382l-1.9,2.938l-1.556-1.555l-2.764-0.864l-2.074,3.283c0,0,0-2.938-1.383-2.419c0,0-3.109-0.691-2.592,3.283
    l-8.639-1.21v-2.938l-4.493,0.864v1.209l-2.765-1.209c0,0-4.32-1.555-4.295-0.334v2.527l2.246,1.124v0.842l-1.966,1.404v2.247
    l-3.37-0.843l-1.685,1.966l-1.685-2.808v-2.527l-1.686-0.843v2.527l-8.705,2.528l-1.161-1.8l0.051-2.587l-2.392-1.86l0.266-8.107
    h5.98l0.797,1.993h1.329l3.19-3.721l-3.057-3.057l0.398-3.455l1.461-1.196l-0.133-2.791h-1.594l-0.798-2.924l2.126-0.532
    l-0.531-5.714h2.26l4.385-3.854l-2.658-1.462l0.399-4.386l3.322-2.392v-2.126l-2.657-2.126l3.057-0.665l-0.267-6.113
    c1.698-2.051,2.898-4.626,2.898-4.626l5.603,4.285h2.234c1.285,0.113,3.355,2.011,3.355,2.011l1.725-2.76L207.199,651.837z"/></a><a onclick="district_kelantan('GUA MUSANG')">
  
    <path id="path3404-9" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#BCD26D" stroke="#000000" d="
    M99.81,774.372l-4.231-5.132c-6.589,12.92-19.075,12.627-19.075,12.627c-9.666-12.744-22.416-1.401-22.416-1.401l0.35,9.457
    l-9.106,5.954l-1.05-2.102l-3.152,16.111l-5.954,3.854v4.203h-1.751v18.213l-11.208,25.567
    c10.193,17.654,3.853,19.964,3.853,19.964c-5.955,0,0.7,5.604,0.7,5.604h-9.106l-1.751,0.701l0.7,9.106
    c6.305,6.305-7.355,13.659-7.355,13.659l4.903,4.203l-0.35,7.006l-2.452,0.35l-3.503-3.152l-0.7,6.305l-5.604-1.4l-0.35,4.553
    c7.436,4.332,8.574,9.148,7.752,12.969l11.208,3.662l9.057,7.547v-6.037c8.302-9.813,19.623,2.264,19.623,2.264
    c4.528,11.32,14.339,3.773,14.339,3.773c6.792,6.793,15.094-6.037,15.094-6.037l18.868-6.793c1.509-27.17,0.754-27.17,0.754-27.17
    l7.547-5.283l11.321,18.868l9.811,2.265v16.604l9.812-15.094l2.264-19.623l1.568-4.223l4.539,7.941l1.891-4.16l3.782-0.756
    l1.891,5.673l3.782-3.026l3.026,4.918h3.025v-2.648h4.917l1.891-5.295h7.942l0.757,11.347
    c12.858,7.186,13.236,10.968,13.236,10.968c0.379,10.968,12.48,8.699,12.48,8.699l-0.756-5.674
    c4.539-2.647,13.615-1.891,13.615-1.891c0.379,8.32,11.346,5.673,11.346,5.673l-0.378-4.16l7.187-6.808l-3.783-3.782l1.892-2.647
    h17.775l15.128,10.59l7.942-7.186l-0.378-3.782v-0.378c4.16,0,5.673,4.16,5.673,4.16l7.942,1.135l-0.379-9.455l-3.025-1.892
    l3.404-2.647v-5.673l12.605,4.632l0.01-8.963l-4.568-5.975l3.572-4.883c-14.301-4.852-18.426-12.185-18.426-12.185l-13.137-0.61
    l-1.223-8.098h1.375l0.459-7.637c-7.551-3.274-2.697-9.113-2.75-9.166c8.555-1.375-2.291-16.804-2.291-16.804
    c16.498-4.277-1.375-11.151-1.375-11.151c-9.664-13.653-17.568-9.166-17.568-9.166l1.82-27.986l-17.75,0.782l-13.586,8.915
    l-35.872-1.273l1.91,18.68h-15.495l-7.005-2.336l-6.156,0.213l-28.444-19.528l-13.373-5.095L99.81,774.372z"/></a><a onclick="district_kelantan('KUALA KRAI')">
  
    <path id="path3404-9-5" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#BCD26D" stroke="#000000" d="
    M227.337,788.346l-13.586,8.916l-35.872-1.273l1.91,18.68h-15.495l-7.005-2.336l-6.156,0.213l-28.444-19.529l-13.373-5.094
    l-9.523-13.55l13.787-0.342l1.595,1.86l13.024-0.531l3.987-4.519v-2.126l6.911-6.38l-0.133-10.765l5.449,0.398l1.462-0.797
    l-0.133-16.081l3.189,0.133l1.994,3.854l3.854-0.133v-5.848c2.791-7.576,5.981-9.436,5.981-9.436h5.981l0.93-2.525l2.658-2.525
    l-0.398-6.113h1.594l3.621-2.932l1.211,1.738l8.705-2.528v-2.527l1.686,0.843v2.527l1.685,2.808l1.685-1.966l3.37,0.843v-2.247
    l1.966-1.404v-0.842l-2.246-1.124v-2.527c-0.025-1.221,4.295,0.334,4.295,0.334l2.765,1.209v-1.209l4.493-0.864v2.938l8.639,1.21
    c-0.518-3.975,2.592-3.283,2.592-3.283c1.383-0.519,1.383,2.419,1.383,2.419l2.074-3.283l2.764,0.864l1.556,1.555l1.9-2.938
    l1.382,1.382h3.629l2.469-2.618l2.482,1.614v4.842l2.483,3.104l-0.124,2.731l1.986,2.11l1.613,12.787c0,0-5.834,9.684-3.6,11.298
    l0.124,10.801l1.366,0.125v7.077l-4.842,3.724l11.421,10.801l-0.697,10.916l-0.312,4.969L227.337,788.346z"/></a><a onclick="district_kelantan('TANAH MERAH')">
  
    <path id="path3414-5-8" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccsccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#BCD26D" stroke="#000000" d="
    M190.398,658.54l-3.057,0.665l2.657,2.126v2.126l-3.322,2.392l-0.399,4.386l2.658,1.462l-4.385,3.854h-2.26l0.531,5.714
    l-2.126,0.532l0.798,2.924h1.594l0.133,2.791l-1.461,1.196l-0.398,3.455l3.057,3.057l-3.19,3.721h-1.329l-0.797-1.993h-5.98
    l-0.266,8.107l2.392,1.86l-0.075,2.619l-3.646,2.963h-1.594l0.398,6.113l-2.658,2.525l-0.93,2.525h-5.981
    c0,0-3.19,1.86-5.981,9.436v5.848l-5.133-4.917l-2.529,0.281l-1.265-1.827h-1.686c0,0,0.281,0.703-2.389-1.545
    c0,0-1.265-1.967,1.931-2.26c0,0,0.245-11.243-5.621-10.021c0,0-2.688-7.332,0.489-6.843c0,0,3.91,1.711,3.91-0.245v-4.644h1.956
    l-0.489-2.688c0,0-6.599-12.709,0.244-12.464c0,0,0.489-0.245-1.711-3.177h5.377c0,0,5.622,0.489,4.888-9.776
    c0,0,3.177,2.933,6.599,6.11l1.955-2.2v-2.688c0,0,0.244-2.444,4.644-8.31c0,0-16.375,0.733-13.931-0.733
    c0,0,5.376-3.666,2.933-4.644l-5.866,0.489c0,0,0-1.222-0.978-4.888c0,0-2.444,0.978-2.933-1.955c0,0,0-0.978-3.177-9.532v-5.866
    c1.496-2.798,3.265-1.994,3.265-1.994c4.987,0.161,11.261,8.204,11.261,8.204c4.826,0.161,7.079,1.287,7.079,1.287
    c0.965,1.448,1.93-0.161,1.93-0.161l6.113,0.161l0.805-1.126l2.412-0.161l1.127-1.93h3.217l-0.16,2.091h1.447l2.734-2.252
    c1.127,0,1.77,2.735,1.77,2.735h0.645v-1.126l4.416,2.335L190.398,658.54z"/></a><a onclick="district_kelantan('JELI')">
  
    <path id="path3414-5" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccc" fill="#BCD26D" stroke="#000000" d="
    M154.78,738.945l-3.854,0.133l-1.994-3.854l-3.189-0.133l0.133,16.081l-1.462,0.797l-5.449-0.398l0.133,10.765l-6.911,6.379v2.126
    l-3.987,4.519l-13.024,0.531l-1.595-1.86l-13.803,0.342l-6.084-6.936l-0.028-16.742h3.853l0.701-2.802l-4.203-2.802v-4.203
    l-18.913-1.751v-2.452l5.253-11.208v-5.604c0,0-12.609-6.655-5.253-6.655v-9.457l3.152-3.853l4.904-1.751l-0.634-13.923
    l0.656-7.059l3.062-0.505l4.965,0.28c0,0,3.235-6.982,6.026-0.337v3.456l5.715,5.183l2.924-0.532l1.196,3.588l2.791-0.133
    c0,0-4.386-13.822,5.848-13.157l6.113-3.057l0.398-6.379l3.854-3.323h5.847l3.722-4.651l-0.133-4.519l6.489-8.489v5.866
    c3.177,8.554,3.177,9.532,3.177,9.532c0.489,2.933,2.933,1.955,2.933,1.955c0.978,3.666,0.978,4.888,0.978,4.888l5.866-0.489
    c2.444,0.978-2.933,4.644-2.933,4.644c-2.444,1.466,13.932,0.733,13.932,0.733c-4.4,5.865-4.644,8.31-4.644,8.31v2.688l-1.955,2.2
    c-3.422-3.177-6.599-6.11-6.599-6.11c0.733,10.265-4.888,9.776-4.888,9.776h-5.377c2.2,2.933,1.711,3.177,1.711,3.177
    c-6.843-0.245-0.244,12.464-0.244,12.464l0.489,2.688h-1.956v4.644c0,1.956-3.91,0.245-3.91,0.245
    c-3.177-0.489-0.489,6.843-0.489,6.843c5.866-1.222,5.621,10.021,5.621,10.021c-3.196,0.293-1.931,2.26-1.931,2.26
    c2.669,2.248,2.389,1.545,2.389,1.545h1.686l1.265,1.827l2.529-0.281L154.78,738.945z"/></a><a onclick="district_kelantan('KETEREH')">
  
    <path id="path3394-0-0" inkscape:connector-curvature="0" sodipodi:nodetypes="ccsscccccccccccccccccc" fill="#BCD26D" stroke="#000000" d="
    M214.001,641.877l-1.846,2.042v6.727l-2.414,0.345l0.023,2.282l-2.566-1.437l-1.252-0.5l-1.725,2.76c0,0-2.07-1.897-3.355-2.011
    h-2.234c0,0-5.709-4.129-5.577-4.417c0.448-0.945,0.839-1.751,1.04-2.31c0.805-2.233,1.133-4.34,1.105-6.312
    c-0.057-3.943-1.539-7.345-3.49-10.127c-0.555-0.788-1.122-1.515-1.689-2.183c3.218-1.728,3.787-2.054,3.787-2.054l3.012,1.465
    l1.059-0.896l0.082-1.302l3.581-1.954c2.278,1.14,5.535,0.977,5.535,0.977c4.176-0.861,7,0,7,0
    c3.419-2.198,3.907-2.686,3.907-2.686c1.059-2.93,2.523-2.768,2.523-2.768c1.953,1.628,1.139,3.907,1.139,3.907l3.745,1.954v1.465
    h2.116v1.058l-1.059,0.814h-0.732v6.349l-1.221,2.279h-3.582c-2.686,0-3.337,3.093-3.337,3.093l-3.907,0.977l-0.65,0.407
    l0.813,0.57L214.001,641.877z"/></a><a onclick="district_kelantan('KUBANG KERIAN')">
  
    <path id="path3394-0-5" inkscape:connector-curvature="0" sodipodi:nodetypes="cccsscccccccccccccccccccccccc" fill="#BCD26D" stroke="#000000" d="
    M184.285,616.278l-2.525,1.196l0.266,2.791c0,0,1.313,0.587,3.18,1.962c0.934,0.688,2.006,1.573,3.121,2.68
    c0.559,0.554,1.127,1.163,1.695,1.831c3.218-1.728,3.787-2.054,3.787-2.054l3.012,1.465l1.059-0.896l0.082-1.302l3.581-1.954
    c2.278,1.14,5.535,0.977,5.535,0.977c4.176-0.861,7,0,7,0c3.419-2.198,3.907-2.686,3.907-2.686c1.059-2.93,2.523-2.768,2.523-2.768
    l2.217,0.468c1.133,0,3.113-1.273,3.113-1.273c2.972-0.708,1.84-4.104,1.84-4.104c-2.123-2.972-7.358-6.792-7.358-6.792
    c-1.839,0-0.282-3.538-0.282-3.538l-2.996-0.977l-3.262,2.609c-2.936-2.935-3.914-0.489-3.914-0.489
    c-0.488,1.468-0.488,2.609-0.488,2.609l-1.794,1.467h-2.283l-0.652,3.098l-4.913-0.15
    C199.734,610.449,199.039,622.08,184.285,616.278L184.285,616.278z"/></a><a onclick="district_kelantan('PASIR MAS')">
  
    <path id="path3394-0" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccssssscccccccccccccccccccccc" fill="#BCD26D" stroke="#000000" d="
    M185.332,601.677l1.055,2.283l2.106-0.703l1.932,2.107l2.94,0.095l-0.176,1.78c0,0,4.366-0.378,7.023,1.216
    c0,0-0.571,14.426-15.928,7.821l-2.525,1.196l0.266,2.791c0,0,5.251,2.348,9.686,8.655c1.951,2.783,3.434,6.184,3.49,10.127
    c0.027,1.972-0.301,4.079-1.105,6.312c-0.201,0.559-0.433,1.125-0.695,1.698c-0.131,0.287-0.377,0.708-0.63,1.132
    s-0.515,0.849-0.679,1.143c-0.656,1.178-1.021,1.857-1.996,3.214l-4.453-2.216v1.126h-0.645c0,0-0.643-2.735-1.77-2.735
    l-2.734,2.252h-1.447l0.16-2.091h-3.217c1.709-3.393-2.941-7.353-2.941-7.353l-0.86-6.543l12.569-7.232
    c0.173-3.96-1.205-4.132-1.205-4.132c-2.238-0.345-5.338-0.172-5.338-0.172l-1.722-3.099l-7.06-4.305l-0.172-2.066l8.609,0.517
    c3.443-3.1,4.305-8.093,4.305-8.093c-0.861-2.066-3.271-2.411-3.271-2.411l0.736-2.425L185.332,601.677z"/></a><a onclick="district_kelantan('RANTAU PANJANG')">
  
    <path id="path3394-2" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccc" fill="#BCD26D" stroke="#000000" d="
    M175.324,592.934l-0.176,2.737l4.418,5.787l-0.662,2.535c0,0,2.41,0.345,3.271,2.411c0,0-0.861,4.994-4.305,8.093l-8.609-0.517
    l0.172,2.066l7.06,4.305l1.722,3.1c0,0,3.1-0.172,5.338,0.172c0,0,1.378,0.172,1.205,4.133l-12.569,7.232l0.86,6.543
    c0,0,4.65,3.96,2.941,7.353l-1.127,1.93l-2.412,0.161l-0.805,1.126l-6.113-0.161c0,0-0.965,1.609-1.93,0.161
    c0,0-2.252-1.126-7.079-1.287c0,0-6.274-8.043-11.261-8.204c0,0-1.77-0.805-3.265,1.994l-6.348,8.682l-4.427-6.131l0.352-7.731
    h3.865v-8.785l8.083-4.217l0.352-5.974l15.462-10.894l11.948-16.673L175.324,592.934z"/></a><a onclick="district_kelantan('PASIR PUTEH')">
  
    <path id="path3404-9-5-1-6" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccc" fill="#BCD26D" stroke="#000000" d="
    M212.156,643.919v6.727l-2.414,0.345v2.415l1.678,1.038l-0.496,16.264l6.455,2.358l-0.372,9.187l3.104,0.125v1.241h4.594
    l0.497,2.111l7.2,0.248v-7.076l4.842,0.621l0.993,5.214l1.49-0.373v0.621v0.993l8.069,0.249l8.524-9.893l2.467,0.338l11.245-13.705
    c-12.489-15.209-13.479-16.127-13.479-16.127c-8.219,3.902-15.077,7.345-15.077,7.345l-3.954-0.742
    c-0.491-1.374-2.08-2.962-2.08-2.962c-1.853-0.132-7.015-9-7.015-9l-3.705,1.853c-4.765-1.191-8.205-0.265-8.205-0.265
    l-2.516-1.191L212.156,643.919z"/></a><a onclick="district_kelantan('BACHOK')">
  
    <path id="path3404-9-5-1-6-8" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccsccccccccccccccccccc" fill="#BCD26D" stroke="#000000" d="
    M256.553,646.839c-8.219,3.902-15.077,7.345-15.077,7.345l-3.954-0.741c-0.491-1.375-2.08-2.962-2.08-2.962
    c-1.853-0.132-7.015-9-7.015-9l-3.705,1.853c-4.765-1.191-8.205-0.265-8.205-0.265l-2.516-1.191l-0.169-1.484l-0.813-0.57
    l0.65-0.407l3.907-0.977c0,0,0.651-3.093,3.337-3.093h3.582l1.221-2.279v-6.349h0.732l1.059-0.814v-1.058h-2.116v-1.465
    l-3.745-1.954c0,0,0.814-2.279-1.139-3.907l2.217,0.468c1.133,0,3.113-1.274,3.113-1.274c2.972-0.707,1.84-4.104,1.84-4.104
    c-2.123-2.971-7.358-6.792-7.358-6.792c-1.839,0-0.282-3.538-0.282-3.538l6.65,0.142l-0.143-9.905l2.265-0.708
    C236.591,616.29,256.553,646.839,256.553,646.839L256.553,646.839z"/></a><a onclick="district_kelantan('PENGKALAN CHEPA')">
  
    <path id="path3394-0-54-4" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccc" fill="#BCD26D" stroke="#000000" d="
    M228.809,591.81l-2.265,0.708l0.143,9.905l-6.65-0.142l-2.996-0.977l-3.262,2.609l-0.932-2.419v-3.841c0,0,1.59-1.854,1.325-3.311
    c0,0-0.397-1.59-3.444-0.663c0,0-2.384,1.722-4.371-1.324l-3.588,4.438l-0.1-3.757l3.734-4.88l-8.604-10.711L228.809,591.81z"/></a>
  
    <path id="path3347-7-1" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M82.524,677.385v6.851l0.634,13.923l-4.903,1.751l-3.152,3.853v9.457c-7.355,0,5.253,6.655,5.253,6.655v5.604l-5.253,11.208v2.452
    l18.913,1.751v4.203l4.203,2.802l-0.701,2.802h-3.853v16.812l2.102,1.401c-6.778,13.252-19.264,12.959-19.264,12.959
    c-9.666-12.745-22.416-1.401-22.416-1.401l0.351,9.456l-9.107,5.955l-1.05-2.102l-3.152,16.111l-5.954,3.854v4.202h-1.751v18.213
    l-11.208,25.568c10.193,17.654,3.853,19.964,3.853,19.964c-5.955,0,0.7,5.604,0.7,5.604h-9.106l-1.751,0.701l0.7,9.106
    c6.305,6.304-7.355,13.659-7.355,13.659l4.903,4.203l-0.35,7.006l-2.452,0.35l-3.502-3.152l-0.701,6.305l-5.604-1.4l-0.35,4.553
    c7.436,4.332,8.574,9.148,7.752,12.968l11.208,3.663l9.057,7.547v-6.037c8.302-9.813,19.623,2.264,19.623,2.264
    c4.528,11.32,14.339,3.773,14.339,3.773c6.792,6.793,15.094-6.037,15.094-6.037l18.868-6.793c1.509-27.17,0.754-27.17,0.754-27.17
    l7.547-5.283l11.321,18.868l9.811,2.265v16.604l9.812-15.095l2.264-19.622l1.568-4.223l4.539,7.941l1.891-4.16l3.782-0.756
    l1.891,5.672l3.782-3.025l3.026,4.917h3.025v-2.647h4.917l1.891-5.295h7.942l0.757,11.346
    c12.858,7.187,13.236,10.969,13.236,10.969c0.379,10.968,12.48,8.698,12.48,8.698l-0.756-5.673
    c4.539-2.647,13.615-1.891,13.615-1.891c0.379,8.32,11.346,5.672,11.346,5.672l-0.378-4.16l7.187-6.807l-3.783-3.782l1.892-2.647
    h17.775l15.128,10.59l7.942-7.186l-0.378-3.783v-0.377c4.16,0,5.673,4.16,5.673,4.16l7.942,1.135l-0.379-9.455l-3.025-1.892
    l3.404-2.647v-5.674l12.605,4.633l0.01-8.964l-4.568-5.974l3.514-4.92c-16.164-5.975-18.273-12.299-18.273-12.299l-13.002-0.352
    l-1.055-7.731h0.703l0.703-8.435c-7.76-3.191-2.025-9.053-2.108-9.137c7.38-1.405-2.812-16.516-2.812-16.516
    c16.326-3.931-1.217-11.462-1.757-11.246c-9.137-13.002-16.868-9.137-16.868-9.137l2.461-43.574l-11.598-10.894l4.92-3.514v-7.028
    l-1.406-0.352v-10.542c-2.459-1.757,3.515-11.246,3.515-11.246l-1.757-13.354l-1.758-1.757v-2.812l-2.459-3.163v-4.92l-2.46-1.406
    l1.964-3.007l9.281-7.886l11.948-13.705l2.46,0.352l11.245-13.705c-27.762-30.573-41.467-71.337-41.467-71.337l-34.438-15.813
    l-1.406,2.812l-11.596,2.108l-9.84-6.677l-4.568,1.757l-1.055,12.651l5.623,4.568l-11.948,16.516l-15.462,10.894l-0.352,5.974
    l-8.083,4.217v8.785h-3.865l-0.352,7.731l4.568,6.325v4.217l-3.866,4.568h-5.974l-3.514,3.163l-0.703,6.677l-6.677,3.163
    c-9.137-0.703-5.271,13.002-5.271,13.002h-2.812l-1.054-3.514l-3.163,0.351l-5.623-5.271v-3.163
    c-2.812-7.028-5.974,0.351-5.974,0.351l-4.92-0.351l-2.406,0.297"/><a onclick="district_kelantan('KOTA BHARU')">
  <path id="path3394-0-54" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccc" fill="#BCD26D" stroke="#000000" d="
    M213.779,603.914c-2.936-2.935-3.914-0.489-3.914-0.489c-0.488,1.468-0.488,2.609-0.488,2.609l-1.794,1.467h-2.283l-0.652,3.098
    l-4.839-0.071c0.369-1.17,0.404-2.072,0.404-2.072c-2.251-2.496,2.629-7.486,2.629-7.486l-0.061-4.244l3.576-4.371
    c1.987,3.046,4.371,1.324,4.371,1.324c3.047-0.927,3.444,0.663,3.444,0.663c0.265,1.457-1.325,3.311-1.325,3.311v3.841
    L213.779,603.914z"/></a>
  <path id="path15397" inkscape:connector-curvature="0" fill="none" stroke="#000000" d="M207.691,597.292l24.015-5.806"/>
  <path id="path15397-3" inkscape:connector-curvature="0" sodipodi:nodetypes="cc" fill="none" stroke="#000000" d="
    M208.615,587.263l6.861-7.917"/>
  <path id="path15650" inkscape:connector-curvature="0" fill="none" stroke="#000000" d="M240.415,606.792l-22.432,6.07"/>
  <text transform="matrix(1 0 0 1 112.375 854.6604)" font-family="'MyriadPro-Regular'" font-size="16">Gua Musang</text>
  <text transform="matrix(1 0 0 1 99.7939 719.1604)" font-family="'MyriadPro-Regular'" font-size="16">Jeli</text>
  <text transform="matrix(1 0 0 1 155.375 769.2405)" font-family="'MyriadPro-Regular'" font-size="16">Kuala Krai</text>
  <text transform="matrix(1 0 0 1 147.3726 699.8757)"><tspan x="0" y="0" font-family="'MyriadPro-Regular'" font-size="7">Tanah </tspan><tspan x="0" y="8.4" font-family="'MyriadPro-Regular'" font-size="7">Merah</tspan></text>
  <text transform="matrix(1 0 0 1 189.519 692.4944)" font-family="'MyriadPro-Regular'" font-size="8">Machang</text>
  <text transform="matrix(1 0 0 1 224.4995 662.4944)"><tspan x="0" y="0" font-family="'MyriadPro-Regular'" font-size="8">Pasir</tspan><tspan x="0" y="9.6" font-family="'MyriadPro-Regular'" font-size="8">Puteh</tspan></text>
  <text transform="matrix(1 0 0 1 225.5747 640.4465)" font-family="'MyriadPro-Regular'" font-size="7">Bachok</text>
  <text transform="matrix(1 0 0 1 195.0952 633.0042)" font-family="'MyriadPro-Regular'" font-size="7">Ketereh</text>
  <text transform="matrix(1 0 0 1 242.7202 606.7917)" font-family="'MyriadPro-Regular'" font-size="7">Kubang Kerian</text>
  <text transform="matrix(1 0 0 1 235.3774 594.3884)" font-family="'MyriadPro-Regular'" font-size="7">Kota Bharu</text>
  <text transform="matrix(1 0 0 1 219.6978 581.552)" font-family="'MyriadPro-Regular'" font-size="7">Pengkalan Chepa</text>
  <text transform="matrix(1 0 0 1 147.6265 629.8523)"><tspan x="0" y="0" font-family="'MyriadPro-Regular'" font-size="6">Rantau</tspan><tspan x="0" y="7.2" font-family="'MyriadPro-Regular'" font-size="6">Panjang</tspan></text>
  <text transform="matrix(1 0 0 1 174.6265 588.9329)" font-family="'MyriadPro-Regular'" font-size="7">Tumpat</text>
  <text transform="matrix(1 0 0 1 177.6519 638.4856)"><tspan x="0" y="0" font-family="'MyriadPro-Regular'" font-size="6">Pasir</tspan><tspan x="0" y="7.2" font-family="'MyriadPro-Regular'" font-size="6">Mas</tspan></text>
</g>
</svg>
              <div class="icon_Temerloh map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Raub map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Lipis map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_CameronHighlands map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_CameronHighlands map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Jerantut map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Kuantan map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Rompin map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Bera map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Bentong map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Pekan map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Maran map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
            </div>
          </div>
        </div>

<script>
  function districtkelantan_map(dist){
      $('#state-select').val(dist)
    $('#divkelantanheader')[0].innerHTML=dist;
     $("#divtotal_malaysialist").hide();
    $('#div_kelantan_states').show()
    // $.ajax({
    //url: "/districts/" + dist,
    //dataType: "json",
    //success:function(data){
      
     $('#divnoofkelantandoctors')[0].innerHTML=Math.floor((Math.random() * 10) + 1);//data.noofdoctors
     $('#divnoofkelantanxray')[0].innerHTML=Math.floor((Math.random() * 5) + 1);//data.noofxray
     $('#divnoofkelantanlab')[0].innerHTML=Math.floor((Math.random() * 20) + 1);//data.nooflab
     $('#divnoofkelantanemployer')[0].innerHTML=Math.floor((Math.random() * 25) + 1);//data.empcount
     $('#divnoofkelantanfw')[0].innerHTML=Math.floor((Math.random() * 30) + 1);//data.fwcount
     $('#divdetectablediseasekelantan')[0].innerHTML=Math.floor((Math.random() * 500) + 1);//data.detectdisease
     $('#commdiseaseskelantan')[0].innerHTML=Math.floor((Math.random() * 250) + 1);//data.commcount
     $('#noncommdiseaseskelantan')[0].innerHTML=Math.floor((Math.random() * 250) + 1);//data.noncommcount
     $('#divkelantantuberculosis')[0].innerHTML=Math.floor((Math.random() * 50) + 1);//data.tuberculosis
     $('#divkelantanhepatisis')[0].innerHTML=Math.floor((Math.random() * 60) + 1);//data.hepatisis
     $('#divkelantansyphilis')[0].innerHTML=Math.floor((Math.random() * 70) + 1);//data.syphilis
     $('#divkelantanhiv')[0].innerHTML=Math.floor((Math.random() * 25) + 1);//data.hiv
     $('#divkelantanmalaria')[0].innerHTML=Math.floor((Math.random() * 15) + 1);//data.malaria
     $('#divkelantanleprosy')[0].innerHTML=Math.floor((Math.random() * 10) + 1);//data.leporacy

     $('#divkelantanpreg')[0].innerHTML=Math.floor((Math.random() * 10) + 1);//data.pregnancy
     $('#divkelantanurine')[0].innerHTML=Math.floor((Math.random() * 5) + 1);//data.urine
     $('#divkelantancannabis')[0].innerHTML=Math.floor((Math.random() * 15) + 1);//data.cannabis
     $('#divkelantanillness')[0].innerHTML=Math.floor((Math.random() * 25) + 1);//data.illness
     $('#divkelantanepilepsy')[0].innerHTML=Math.floor((Math.random() * 30) + 1);//data.epilsey
     $('#divkelantancancer')[0].innerHTML=Math.floor((Math.random() * 35) + 1);//data.cancer
     $('#divkelantanhyper')[0].innerHTML=Math.floor((Math.random() * 36) + 1);//data.hypertension
     $('#divkelantandiabetes')[0].innerHTML=Math.floor((Math.random() * 37) + 1);//data.diabetes
     $('#divkelantankidney')[0].innerHTML=Math.floor((Math.random() * 38) + 1);//data.kidney
     $('#divkelantanheart')[0].innerHTML=Math.floor((Math.random() * 26) + 1);//data.heart
     $('#divkelantanulcer')[0].innerHTML=Math.floor((Math.random() * 12) + 1);//data.ulcer
     $('#divkelantanasthama')[0].innerHTML=Math.floor((Math.random() * 14) + 1);//data.asthama
     $('#divkelantanothers')[0].innerHTML=Math.floor((Math.random() * 16) + 1);//data.others
    //}
    //})

  }
  function district_kelantan(dist){    
   $('#divkelantanheader')[0].innerHTML=dist;
     //$.ajax({
    //url: "/districtname/" + dist,
    //dataType: "json",
    //success:function(data){
      
    $('#divnoofkelantandoctors')[0].innerHTML=Math.floor((Math.random() * 10) + 1);//data.noofdoctors
     $('#divnoofkelantanxray')[0].innerHTML=Math.floor((Math.random() * 5) + 1);//data.noofxray
     $('#divnoofkelantanlab')[0].innerHTML=Math.floor((Math.random() * 20) + 1);//data.nooflab
     $('#divnoofkelantanemployer')[0].innerHTML=Math.floor((Math.random() * 25) + 1);//data.empcount
     $('#divnoofkelantanfw')[0].innerHTML=Math.floor((Math.random() * 30) + 1);//data.fwcount
     $('#divdetectablediseasekelantan')[0].innerHTML=Math.floor((Math.random() * 500) + 1);//data.detectdisease
     $('#commdiseaseskelantan')[0].innerHTML=Math.floor((Math.random() * 250) + 1);//data.commcount
     $('#noncommdiseaseskelantan')[0].innerHTML=Math.floor((Math.random() * 250) + 1);//data.noncommcount
     $('#divkelantantuberculosis')[0].innerHTML=Math.floor((Math.random() * 50) + 1);//data.tuberculosis
     $('#divkelantanhepatisis')[0].innerHTML=Math.floor((Math.random() * 60) + 1);//data.hepatisis
     $('#divkelantansyphilis')[0].innerHTML=Math.floor((Math.random() * 70) + 1);//data.syphilis
     $('#divkelantanhiv')[0].innerHTML=Math.floor((Math.random() * 25) + 1);//data.hiv
     $('#divkelantanmalaria')[0].innerHTML=Math.floor((Math.random() * 15) + 1);//data.malaria
     $('#divkelantanleprosy')[0].innerHTML=Math.floor((Math.random() * 10) + 1);//data.leporacy

     $('#divkelantanpreg')[0].innerHTML=Math.floor((Math.random() * 10) + 1);//data.pregnancy
     $('#divkelantanurine')[0].innerHTML=Math.floor((Math.random() * 5) + 1);//data.urine
     $('#divkelantancannabis')[0].innerHTML=Math.floor((Math.random() * 15) + 1);//data.cannabis
     $('#divkelantanillness')[0].innerHTML=Math.floor((Math.random() * 25) + 1);//data.illness
     $('#divkelantanepilepsy')[0].innerHTML=Math.floor((Math.random() * 30) + 1);//data.epilsey
     $('#divkelantancancer')[0].innerHTML=Math.floor((Math.random() * 35) + 1);//data.cancer
     $('#divkelantanhyper')[0].innerHTML=Math.floor((Math.random() * 36) + 1);//data.hypertension
     $('#divkelantandiabetes')[0].innerHTML=Math.floor((Math.random() * 37) + 1);//data.diabetes
     $('#divkelantankidney')[0].innerHTML=Math.floor((Math.random() * 38) + 1);//data.kidney
     $('#divkelantanheart')[0].innerHTML=Math.floor((Math.random() * 26) + 1);//data.heart
     $('#divkelantanulcer')[0].innerHTML=Math.floor((Math.random() * 12) + 1);//data.ulcer
     $('#divkelantanasthama')[0].innerHTML=Math.floor((Math.random() * 14) + 1);//data.asthama
     $('#divkelantanothers')[0].innerHTML=Math.floor((Math.random() * 16) + 1);//data.others
    //}
    //})
  }
  function closekelantanicon(){
     $("#divtotal_malaysialist").show();
    $('#div_kelantan_states').hide()
   
  }
</script>


