    <div id="div_kl_states" class="pahan svg-content" style="display: none;">
          <div class="map-title" style="z-index: 100;"> KUALA LUMPUR </div>
          <div class="text-info1"><a onclick="closeklicon()">
            <i class="fa fa-close close-btn" id="divtotal_malaysiabtn_johor"></i></a>
            <div class="hidden statediv" id="sabah_district14">
              <div id="myRadioGroup" class="submap-title">
                <h1><div id="divklheader"></div> </h1>
                <div class="box div_Pekan div_statesvg">
                  <ul>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Doctors
                      </div>
                      <div id="divnoofkldoctors"> </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i>Number of X-ray
                      </div>
                      <div id="divnoofklxray"></div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Lab
                      </div>
                      <div id="divnoofkllab"> </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Employer
                      </div>
                      <div id="divnoofklemployer">  </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of FW
                      </div>
                      <div id="divnoofklfw">  </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Detectable Disease/Condition
                      </div>
                      <div id="divdetectablediseasekl"> </div>
                    </li>
                    <li class="p-0">
                      <div id="accordion3" style="width: 100%!important;float:left">
                        <div class="card">
                          <div class="card-header" style="background: #be0022;
                                              color: #fff;">
                            <a class="card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseOne16"> Communicable Diseases <span><div id="commdiseaseskl"></div>  </span>
                            </a>
                          </div>
                          <div id="collapseOne16" class="collapse" data-parent="#accordion3">
                            <div class="card-body" style="float: left; padding: 0px;">
                              <div class="box div_Pekan div_statesvg">
                                <ul>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i>Tuberculosis
                                    </div>
                                    <div id="divkltuberculosis">  </div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Hepatitis B
                                    </div>
                                    <div id="divklhepatisis"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Syphilis
                                    </div>
                                    <div id="divklsyphilis"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> HIV/AIDS
                                    </div>
                                    <div id="divklhiv"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Malaria
                                    </div>
                                    <div id="divklmalaria"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Leprosy
                                    </div>
                                    <div id="divklleprosy"></div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" style="background: #be0022;
                                              color: #fff;">
                            <a class="collapsed card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseTwo17"> Non-Communicable Diseases <span><div id="noncommdiseaseskl"></div> </span>
                            </a>
                          </div>
                          <div id="collapseTwo17" class="collapse" data-parent="#accordion3">
                            <div class="card-body" style="float: left; padding: 0px;">
                              <div class="box div_Pekan div_statesvg">
                                <ul>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i>Pregnancy
                                    </div>
                                    <div id="divklpreg"> </div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Urine Opiates
                                    </div>
                                    <div id="divklurine"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Urine Cannabis
                                    </div>
                                    <div id="divklcannabis"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Psychiatric Illness
                                    </div>
                                    <div id="divklillness"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Epilepsy
                                    </div>
                                    <div id="divklepilepsy"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Cancer
                                    </div>
                                     <div id="divklcancer"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Hypertension
                                    </div>
                                     <div id="divklhyper"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Diabetes
                                    </div>
                                    <div id="divkldiabetes"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Kidney Disease
                                    </div>
                                     <div id="divklkidney"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Heart Disease
                                    </div>
                                     <div id="divklheart"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Peptic Ulcer
                                    </div>
                                     <div id="divklulcer"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Bronchial Asthma
                                    </div>
                                     <div id="divklasthama"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Others
                                    </div>
                                     <div id="divklothers"></div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="svg-map">
            <div class="sub-map">
  <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1"
   id="svg14939" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" sodipodi:docname="wpkl parlimen.svg" inkscape:version="0.91 r13725"
   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="551.406px"
   height="524.307px" viewBox="0 0 551.406 524.307" enable-background="new 0 0 551.406 524.307" xml:space="preserve">
<sodipodi:namedview  id="base" fit-margin-left="0" fit-margin-top="0" showguides="false" showgrid="false" inkscape:cy="321.53599" inkscape:cx="481.88837" inkscape:zoom="0.79500352" borderopacity="1.0" bordercolor="#666666" pagecolor="#ffffff" fit-margin-bottom="0" fit-margin-right="0" inkscape:guide-bbox="true" inkscape:snap-nodes="false" inkscape:window-y="-4" inkscape:window-x="-4" inkscape:window-height="740" inkscape:window-width="1280" inkscape:current-layer="layer1" inkscape:document-units="px" inkscape:pageshadow="2" inkscape:pageopacity="0.0" inkscape:window-maximized="1">
  <inkscape:grid  originx="124.33552" id="grid17545" type="xygrid" originy="29.754397"></inkscape:grid>
</sodipodi:namedview>
<g id="layer1" transform="translate(124.33552,-426.73329)" inkscape:groupmode="layer" inkscape:label="Layer 1"><a onclick="district_kl('KEPONG')">
  
    <path id="path3351-1-6-1-0-6-9" sodipodi:nodetypes="cccccsccccccccccc" inkscape:connector-curvature="0" fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="
    M52.999,477.724c-6.902,2.708-14.477,4.619-22.405,4.902l-1.137,22.104l5.265-2.256v8.274c0,0-6.394,4.701-12.788,11.377
    c-3.197,3.338-6.394,7.17-8.792,11.154c8.023,3.238,12.514,8.291,12.514,8.291l14.596,17.964l-0.561,16.28l6.736,3.368v-2.246
    l8.982,3.368l-0.561-4.491l2.807,1.684c5.276-5.161,6.391-13.488,6.391-13.488l-0.008-8.598l1.522-1.514l1.661,2.583h11.996
    l6.09,16.056l10.519-5.905l-3.322-10.52l-1.107-0.554c-2.215-0.553-2.584-4.613-2.584-4.613l5.352-5.167l-1.477-2.214v-1.846
    l4.06,1.107l2.583-3.322l-0.184-5.906l-4.861-0.672l-0.344-6.543l-2.066-1.722l-0.344-8.609l-0.689-2.066l-0.344-15.841
    l-14.808,1.033L52.999,477.724z"/></a><a onclick="district_kl('BATU')">
  
    <path id="path3351-1-6-1-0-6-9-9_1_" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="
    M169.422,559.257l4.555-3.168v-4.555l2.574-3.763l-1.188-0.594l-0.198-2.376c6.14-4.555,6.337-16.636,6.337-16.636l3.961-0.396
    l9.982-12.314c-11-26.438-25.508-28.855-25.508-28.855h-49.574c0-22.973-19.547-32.286-19.547-32.286H88.358
    c0,0-15.802,16.209-35.359,23.413l0,0l22.692,21.453l14.808-1.033l0.344,15.841l0.689,2.066l0.344,8.609l2.066,1.722l0.344,6.543
    l4.861,0.673l0.185,5.906l-2.584,3.322l-4.06-1.107v1.846l1.477,2.214l-5.352,5.167c0,0,0.369,4.06,2.584,4.613l3.579-2.315
    l2.755,2.066h3.099l1.033,1.722l6.888-0.344L169.422,559.257"/></a><a onclick="district_kl('SENTUL')">
  
    <path id="path3351-1-6-1-0-6-9-9" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="
    M108.751,556.688l12.742,7.576l6.199,3.444h2.755c-1.378,5.51,2.755,9.298,2.755,9.298l1.722,7.232l0.345,4.133
    c-4.863,8.516,1.475,11.091,1.475,11.091l10.299,5.744l-3.367,8.318l0.198,10.695c13.467,8.12,16.637,16.438,16.637,16.438
    l3.168-5.348l-0.197-2.772l-0.99-0.396l-0.199-4.357l5.348-5.545v-5.744l-2.178-4.159v-2.773l0.99-0.396l6.733-0.792
    c3.763-4.556,6.536-11.091,6.536-11.091v-3.763l-1.783-2.376c-0.594-3.367,2.773-17.825,2.773-17.825l-7.131,0.99
    c-1.386-0.198-1.386-0.396-1.386-0.396c0.396-6.14-2.772-14.656-2.772-14.656"/></a><a onclick="district_kl('SEGAMBUT')">
  
    <path id="path3351-1-6-1-0-6-9-6" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="
    M160.51,640.656c0,0-3.17-8.318-16.637-16.438l-0.198-10.695l3.367-8.318l-10.299-5.744c0,0-6.337-2.575-1.475-11.091l-0.345-4.133
    l-1.722-7.232c0,0-4.133-3.788-2.755-9.298h-2.755l-1.377-3.444h-4.821l-12.742-7.576l-6.888,0.344l-1.033-1.722h-3.099
    l-2.755-2.066l-3.579,2.315l1.107,0.554l3.322,10.52l-10.519,5.905l-6.09-16.056H67.222l-1.661-2.583l-1.522,1.514l0.008,8.597
    c0,0-1.115,8.328-6.391,13.489l-2.807-1.684l0.561,4.491l-8.982-3.368v2.246l-6.736-3.368l0.561-16.28l-14.596-17.964
    c0,0-4.491-5.052-12.514-8.291c-2.397,3.984-3.996,8.122-3.996,12.071l2.257,6.77l-21.814,8.274l-1.504,43.628l-4.514,10.531
    c0,0-12.788,52.655,5.266,69.204c40.69,33.772,44.138,29.461,44.138,29.461l15.518,11.207c0.592-0.379,4.541-5.405,4.541-5.405
    c0.359-5.385,3.231-5.385,3.231-5.385h2.154c2.154,0.718,8.257-6.462,8.257-6.462l15.078-4.309l-2.872-2.871
    c3.231-3.23,3.59-6.82,3.59-6.82c0-4.309,7.539-4.309,7.539-4.309c1.436-2.872,1.436-4.667,1.436-4.667
    c0.359-6.461,8.257-3.59,8.257-3.59v-2.872l2.872-2.154v4.308h5.026l0.718,2.872l2.872-1.436l3.231,3.231h0.718v-3.59l3.59-0.359
    l0.718,3.949c0.718,2.872,5.385,1.795,5.385,1.795c8.257,8.616,16.873,11.487,16.873,11.487c5.744,6.821,18.667,1.436,18.667,1.436
    l2.514-5.025v-1.436l-2.154-3.23l1.795-7.54l-3.59-6.103l2.154-2.513l-0.359-3.949l2.872-9.693l0.358-6.462
    C159.654,645.43,160.51,640.656,160.51,640.656L160.51,640.656z"/></a><a onclick="district_kl('WANGSA MAJU')">
  
    <path id="path3351-1-6-1-0-6-1" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="
    M288.43,541.006v-10.882l-16.928-18.136l-1.209-9.673l10.881-1.209l-2.418-25.391h-37.482l-29.018,20.555v20.555l-16.869-1.291
    l-9.924,12.233l-3.961,0.396c0,0-0.197,12.081-6.337,16.636l0.198,2.376l1.188,0.594l-2.574,3.763v4.555l-4.555,3.169
    c0,0,3.168,8.516,2.772,14.656c0,0,0,0.198,1.386,0.396l7.131-0.99l10.389-5.19c2.512,0,0.359,5.022,0.359,5.022l1.436,5.74
    l37.309-32.287l8.611,12.556l6.457-4.305c11.838,2.511,16.143-5.381,16.143-5.381l7.176,8.969c5.381,0.359,10.762-5.74,10.762-5.74
    c-0.357-2.152,2.871-4.305,2.871-4.305h7.893l6.014-7.283L288.43,541.006z"/></a><a onclick="district_kl('SETIAWANGSA')">
  
    <path id="path3351-1-6-1-0-6-4" sodipodi:nodetypes="cccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="
    M301.553,620.172c16.936-22.581,14.686-57.402,14.686-57.402l-20.332-21.71l-5.791,7.336h-7.893c0,0-3.229,2.153-2.871,4.305
    c0,0-5.381,6.099-10.762,5.74l-7.176-8.969c0,0-4.305,7.893-16.143,5.381l-6.457,4.305l-8.611-12.556l-37.309,32.287l-1.436-5.74
    c0,0,2.152-5.022-0.359-5.022l-10.389,5.19c0,0-3.367,14.458-2.773,17.825l1.783,2.376v3.763c0,0-0.693,1.634-1.857,3.837
    l3.191,1.448c-2.511,6.099-2.511,7.175-2.511,7.175v5.381l2.511,1.793c13.633-1.435,21.885,7.175,21.885,7.175l10.762,8.61
    l13.992-19.373c1.434-3.946,8.609,1.794,8.609,1.794c7.533,5.74,14.709,11.48,14.709,11.48l12.775-8.551L301.553,620.172z"/></a><a onclick="district_kl('CHERAS')">
  
    <path id="path3351-1-6-1-0-6-7" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="
    M285.412,818.7l15.609-8.517v-46.591l-4.547-10.228H279.43l-5.113-4.545l1.166-29.738l-21.242,9.766h-2.152l-4.305,2.871
    l-1.076-2.512v-4.305l-1.436-2.512c-1.436-0.359-3.947,3.946-3.947,3.946c-2.152,2.511-4.305-3.946-4.305-3.946
    c-3.229-6.816-10.402-8.969-10.402-8.969c-2.512,6.457-4.307,6.099-4.307,6.099c-2.51-3.229-2.152-5.382-2.152-5.382l6.068-19.726
    l-3.904-3.123l-12.961,9.057l3.279,4.685l-2.654,4.061l-3.748-6.559h-4.059l-2.031-1.874h-1.404l-1.875,1.249h-2.967l-4.527-4.216
    c-4.842,8.589,0,11.399,0,11.399c-4.998,8.9-4.686,11.398-4.686,11.398c-0.313,2.03,2.498,4.061,2.498,4.061v6.09l1.875,2.967
    l-2.498,3.279v2.654l6.09,4.685l-0.469,9.369l2.498,2.343c6.971,4.449,9.867,1.843,9.867,1.843
    c3.766-3.187,11.008-4.345,11.008-4.345l2.027-4.056c0.578-2.896-0.58-12.456-0.58-12.456c5.215,3.187,6.662,3.187,6.662,3.187
    l4.057,1.448h2.605l12.746-7.531c2.896,0.58,3.477,4.925,3.477,4.925c-2.607,2.606-2.027,12.456-2.027,12.456
    c4.924,12.455,6.082,21.145,6.082,21.145c3.188,3.767,4.055,4.635,4.055,4.635c-4.633,4.635-8.109,5.215-8.109,5.215
    c-2.027,2.317,1.738,7.242,1.738,7.242c2.316,4.055-0.58,5.793-0.58,5.793H239.6c-3.475,0.869-3.475,6.373-3.475,6.373
    l-2.029,5.213l-8.109,9.85l19.408-0.58l1.158,9.56l28.967-0.579c1.447,4.635,3.186,4.635,3.186,4.635l6.844-0.116L285.412,818.7z"
    /></a><a onclick="district_kl('TITIWANGSA')">
  
    <path id="path3351-1-6-1-0-6-9-6-9-3" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="
    M226.227,694.413l6.715-18.582l-0.313-12.961c0,0-1.875,0-6.715-14.678c0,0-5.465,0.156-7.496-1.249c0,0-4.215,4.685-7.65,4.528
    c0,0-7.652-4.216-11.557,1.093c0,0-2.654,1.249-9.68,4.685h-4.842l-2.186,3.435l-3.105-1.972l4.309-12.206l-3.591-2.154
    l-0.718-5.026h-2.872v-3.59h-1.795v-4.308c0,0,0-1.077-8.429-7.805l1.336-1.386v-5.744l-2.178-4.159v-2.773l0.99-0.396l6.733-0.792
    c1.882-2.277,3.515-5.05,4.679-7.253l3.191,1.448c-2.511,6.099-2.511,7.175-2.511,7.175v5.381l2.511,1.794
    c13.633-1.435,21.885,7.175,21.885,7.175l10.762,8.61l13.992-19.372c1.434-3.946,8.609,1.793,8.609,1.793
    c7.533,5.74,14.709,11.48,14.709,11.48l12.707-8.702l-0.07,14.366l7.258,5.645c0,0,4.84,3.226,15.324,4.839v24.194l-19.869,30.737
    v13.068h9.66l-0.256,8.051l-21.525,10.045h-2.152l-4.305,2.871l-1.076-2.512v-4.305l-1.436-2.512
    c-1.436-0.358-3.947,3.946-3.947,3.946c-2.152,2.511-4.305-3.946-4.305-3.946c-3.229-6.816-10.402-8.969-10.402-8.969
    c-2.512,6.457-4.307,6.099-4.307,6.099c-2.51-3.229-2.152-5.381-2.152-5.381L226.227,694.413z"/></a><a onclick="district_kl('LEMBAH PANTAI')">
  
    <path id="path3351-1-6-1-0-6-9-6-9-8" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="
    M79.373,887.408c0,0-2.077-8.507-13.349-5.116l1.434-30.278l20.448-18.966v-9.482c-6.897-12.069-7.518-28.448-7.518-28.448
    l-1.724-28.449l-7.759-3.447L47.63,748.565l0.862-24.138c0.592-0.379,4.541-5.405,4.541-5.405c0.359-5.385,3.231-5.385,3.231-5.385
    h2.154c2.154,0.718,8.257-6.462,8.257-6.462l15.078-4.309l-2.872-2.871c3.231-3.23,3.59-6.821,3.59-6.821
    c0-4.308,7.539-4.308,7.539-4.308c1.436-2.872,1.436-4.667,1.436-4.667c0.359-6.462,8.257-3.59,8.257-3.59v-2.872l2.872-2.154
    v4.308h5.026l0.718,2.872l2.872-1.436l3.231,3.231h0.718v-3.59l3.59-0.359l0.718,3.949c0.718,2.872,5.385,1.795,5.385,1.795
    c8.257,8.616,16.873,11.487,16.873,11.487c5.744,6.82,18.63,1.628,18.63,1.628l-0.898,1.994l-3.946,2.475
    c0,0-4.373,5.31-11.087,11.868l-3.436,3.123l-6.871,13.272c0,0-3.279,3.278-7.651,5.466l2.655,11.711v2.654
    c-0.169,2.544-1.911,3.125-1.911,3.125l-3.482-2.612l-4.643,0.581c-1.161,2.32,1.741,5.803,1.741,5.803v5.805l1.451,2.901
    l-2.611,2.901v2.902l2.321,2.611l-0.29,4.354l-2.031,1.45v2.612c2.902,2.901-5.514,9.865-5.514,9.865l-2.031,8.706
    c6.674-2.321,6.384,5.804,6.384,5.804c-1.451,5.223-1.161,6.965-1.161,6.965c-1.741,13.638-11.897,13.348-11.897,13.348
    c-3.482,2.321,2.031,8.125,2.031,8.125c-4.643,5.224-8.706,8.706-8.706,8.706v4.643C86.853,859.043,79.373,887.408,79.373,887.408
    L79.373,887.408z"/></a><a onclick="district_kl('SEPUTEH')">
  
    <path id="path3351-1-6-1-0-6-7-1" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="
    M215.559,753.435c0,0-7.242,1.158-11.008,4.345c0,0-2.896,2.607-9.867-1.843l-2.811,4.372l-0.156,4.685l3.904,2.967l-1.719,5.777
    l-5.152,0.313l-0.313,6.559l-6.559,5.777l-32.479-25.922c-1.718-1.248-3.748-1.248-3.748-1.248h-6.714
    c-2.811-0.469-9.837-5.584-9.837-5.584c-0.169,2.545-1.911,1.525-1.911,1.525l-3.482-2.612l-4.643,0.581
    c-1.161,2.32,1.741,5.803,1.741,5.803v5.805l1.451,2.901l-2.611,2.901v2.902l2.321,2.611l-0.29,4.354l-2.031,1.45v2.612
    c2.902,2.901-5.514,9.865-5.514,9.865l-2.031,8.706c6.674-2.321,6.384,5.804,6.384,5.804c-1.451,5.223-1.161,6.965-1.161,6.965
    c-1.741,13.638-11.897,13.348-11.897,13.348c-3.482,2.321,2.031,8.125,2.031,8.125c-4.643,5.224-8.706,8.706-8.706,8.706v4.643
    c-11.897,8.415-19.378,36.78-19.378,36.78c15.097-0.393,21.727-9.232,21.727-9.232c5.746-0.442,9.724,0,9.724,0l2.21,3.536h2.652
    l-0.442-4.42l3.978,1.326c0,2.651-2.21,5.745-2.21,5.745c4.862,3.095,7.956,1.769,7.956,1.769c0.442-4.42,1.768-4.42,1.768-4.42
    c4.42,2.21,11.492,3.094,11.492,3.094v-4.862l-4.42-10.165l21.215-1.326l2.651,3.094l14.145-1.326v-7.071l4.42,3.094l-0.442,2.652
    c0.442,1.768,7.071,2.21,7.071,2.21l8.398-7.072c0.885-6.63-6.631-12.817-6.631-12.817l3.096-3.979v-4.42
    c-5.305-1.768-7.515-7.955-7.515-7.955l-2.651-2.21c-6.188-3.979,1.768-10.166,1.768-10.166l5.746-5.746
    c4.494,5.983,9.207,6.402,9.207,6.402c2.762-0.917,10.131,3.271,10.131,3.271l0.336-2.512l2.344-2.178l-3.182-3.685l-0.336-8.206
    c-0.67-7.537-7.369-12.563-7.369-12.563c-9.211-7.536-2.344-17.25-2.344-17.25C208.102,764.276,215.559,753.435,215.559,753.435
    L215.559,753.435z"/></a><a onclick="district_kl('BANDAR TUN RAZAK')">
  
    <path id="path3351-1-6-1-0-6-90" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="
    M285.412,834.612l7.344,11.016v13.464l3.203,27.298l-5.977,5.976h-41.826v30.871h-20.912c0,0-11.951-0.996-18.922-21.909
    c0,0-14.938-0.995-23.9,17.926l-24.254,1.68c0,0-40.046,4.918-80.092-7.728l-0.703-25.983c15.097-0.206,21.727-9.046,21.727-9.046
    c5.746-0.442,9.724,0,9.724,0l2.21,3.536h2.652l-0.442-4.42l3.978,1.326c0,2.651-2.21,5.745-2.21,5.745
    c4.862,3.094,7.956,1.769,7.956,1.769c0.442-4.42,1.768-4.42,1.768-4.42c4.419,2.21,11.492,3.094,11.492,3.094v-4.862l-4.42-10.165
    l21.215-1.326l2.651,3.094l14.145-1.326v-7.071l4.42,3.094l-0.442,2.651c0.442,1.769,7.071,2.21,7.071,2.21l8.398-7.071
    c0.885-6.63-6.631-12.817-6.631-12.817l3.096-3.979v-4.42c-5.305-1.768-7.515-7.955-7.515-7.955l-2.651-2.21
    c-6.188-3.979,1.768-10.166,1.768-10.166l5.746-5.746c4.494,5.983,9.207,6.402,9.207,6.402c2.762-0.917,10.131,3.271,10.131,3.271
    l0.336-2.513l2.344-2.177l-3.182-3.685l-0.336-8.206c-0.67-7.537-7.369-12.563-7.369-12.563c-9.211-7.536-2.344-17.25-2.344-17.25
    c14.236-15.744,21.693-26.584,21.693-26.584l2.027-4.056c0.578-2.896-0.58-12.456-0.58-12.456c5.215,3.188,6.662,3.188,6.662,3.188
    l4.057,1.447h2.605l12.746-7.531c2.896,0.58,3.477,4.925,3.477,4.925c-2.607,2.606-2.027,12.456-2.027,12.456
    c4.924,12.455,6.082,21.146,6.082,21.146c3.188,3.766,4.055,4.635,4.055,4.635c-4.633,4.634-8.109,5.214-8.109,5.214
    c-2.027,2.317,1.738,7.242,1.738,7.242c2.316,4.055-0.58,5.793-0.58,5.793H239.6c-3.475,0.869-3.475,6.373-3.475,6.373
    l-2.029,5.213l-8.109,9.85l19.408-0.58l1.158,9.56l28.967-0.579c1.447,4.635,3.186,4.635,3.186,4.635l6.844-0.116L285.412,834.612z
    "/></a>
  
    <path id="path3351-1-6-1-0-6" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M48.493,724.428l-0.862,24.138l23.276,14.655l7.759,3.448l1.724,28.448c0,0,0.621,16.379,7.518,28.448v9.482l-20.448,18.966
    l-1.434,30.278c14.754-2.811,13.349,7.729,13.349,7.729l0.703,23.185c40.046,12.646,80.092,7.729,80.092,7.729l24.254-1.681
    c8.963-18.921,23.9-17.926,23.9-17.926c6.971,20.913,18.922,21.909,18.922,21.909h20.912v-30.871h41.826l5.977-5.976l-3.203-27.298
    v-13.464l-7.344-11.016v-15.911l15.609-8.518v-46.591l-4.547-10.228H279.43l-5.113-4.545l1.705-38.068h-9.66v-13.068l19.869-30.737
    v-24.193c-10.484-1.613-15.324-4.839-15.324-4.839l-7.258-5.645v-14.516l37.904,2.419c16.936-22.581,14.686-57.402,14.686-57.402
    l-20.555-21.764h-7.254v-10.882l-16.928-18.136l-1.209-9.673l10.881-1.209l-2.418-25.391h-37.482l-29.018,20.555v20.555
    l-16.928-1.209c-10.883-26.6-25.391-29.019-25.391-29.019h-49.574c0-22.973-19.547-32.286-19.547-32.286H88.358
    c0,0-26.05,27.183-57.764,28.316l-1.137,22.104l5.265-2.256v8.274c0,0-25.575,18.805-25.575,34.602l2.257,6.77l-21.814,8.274
    l-1.504,43.628l-4.514,10.531c0,0-12.788,52.655,5.266,69.204c40.69,33.772,44.138,29.461,44.138,29.461L48.493,724.428z"/><a onclick="district_kl('BUKIT BINTANG')">
  
    <path id="path3351-1-6-1-0-6-9-6-9" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" inkscape:connector-curvature="0" fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" d="
    M159.435,701.464l3.449-7.212v-1.436l-2.154-3.231l1.795-7.539l-3.59-6.103l2.154-2.513l-0.359-3.949l2.872-9.693l0.358-6.462
    c-4.307-7.897-3.451-12.671-3.451-12.671l3.168-5.348l-0.197-2.772l-0.99-0.396l-0.199-4.357l2.674-2.772l1.338-1.387
    c8.429,6.729,8.429,7.805,8.429,7.805v4.308h1.795v3.59h2.872l0.718,5.026l3.591,2.154l-4.309,12.206l3.105,1.972l2.186-3.435
    h4.842c7.025-3.436,9.68-4.685,9.68-4.685c3.904-5.31,11.557-1.093,11.557-1.093c3.436,0.156,7.65-4.528,7.65-4.528
    c2.031,1.405,7.496,1.249,7.496,1.249c4.84,14.678,6.715,14.678,6.715,14.678l0.313,12.961l-6.715,18.582l-3.904-3.123
    l-12.961,9.057l3.279,4.685l-2.654,4.061l-3.748-6.559h-4.059l-2.031-1.874h-1.404l-1.875,1.249h-2.967l-4.527-4.216
    c-4.842,8.589,0,11.399,0,11.399c-4.998,8.9-4.686,11.398-4.686,11.398c-0.313,2.03,2.498,4.061,2.498,4.061v6.09l1.875,2.967
    l-2.498,3.279v2.654l6.09,4.685l-0.469,9.369l2.498,2.343l-2.811,4.372l-0.156,4.685l3.904,2.967l-1.719,5.777l-5.152,0.313
    l-0.313,6.559l-6.559,5.777l-32.479-25.922c-1.718-1.248-3.748-1.248-3.748-1.248h-6.715c-2.811-0.469-9.837-7.184-9.837-7.184
    v-2.654l-2.655-11.711c4.372-2.188,7.651-5.466,7.651-5.466l6.871-13.272l3.435-3.123c6.715-6.559,11.087-11.868,11.087-11.868
    L159.435,701.464z"/></a>
  <rect x="-458.133" y="477.724" fill="#FACC4D" stroke="#333333" stroke-miterlimit="10" width="123" height="118.334"/>
  <text transform="matrix(1 0 0 1 31.331 533.2802)" font-family="'ArialMT'" font-size="12">Kepong</text>
  <text transform="matrix(1 0 0 1 120.1894 520.3158)" font-family="'ArialMT'" font-size="12">Batu</text>
  <text transform="matrix(1 0 0 1 138.5434 594.0272)" font-family="'ArialMT'" font-size="12">Sentul</text>
  <text transform="matrix(1 0 0 1 217.3945 524.3158)"><tspan x="0" y="0" font-family="'ArialMT'" font-size="12">Wangsa </tspan><tspan x="0" y="14.4" font-family="'ArialMT'" font-size="12">Maju</tspan></text>
  <text transform="matrix(1 0 0 1 213.7089 586.8817)" font-family="'ArialMT'" font-size="12">Setiawangsa</text>
  <text transform="matrix(1 0 0 1 174.9785 674.9125)"><tspan x="0" y="0" font-family="'ArialMT'" font-size="12">Bukit </tspan><tspan x="0" y="14.4" font-family="'ArialMT'" font-size="12">Bintang</tspan></text>
  <text transform="matrix(1 0 0 1 37.2304 645.6019)" font-family="'ArialMT'" font-size="12">Segambut</text>
  <text transform="matrix(-0.0155 0.9999 -0.9999 -0.0155 247.1015 645.6019)" font-family="'ArialMT'" font-size="12">Titiwangsa</text>
  <text transform="matrix(1 0 0 1 252.2773 794.6796)" font-family="'ArialMT'" font-size="12">Cheras</text>
  <text transform="matrix(1 0 0 1 155.3906 779.1659)" font-family="'ArialMT'" font-size="12">Mid Valley</text>
  <text transform="matrix(1 0 0 1 191.4785 872.0116)" font-family="'ArialMT'" font-size="12">Bandar Tun Razak</text>
  <text transform="matrix(1 0 0 1 72.5434 724.4276)"><tspan x="0" y="0" font-family="'ArialMT'" font-size="12">Lembah</tspan><tspan x="0" y="14.4" font-family="'ArialMT'" font-size="12">Pantai</tspan></text>
  <text transform="matrix(1 0 0 1 83.5756 793.3719)" font-family="'ArialMT'" font-size="12">Bangsar</text>
  <text transform="matrix(1 0 0 1 96.2187 908.3719)" font-family="'ArialMT'" font-size="12">Sri Petaling</text>
  <text transform="matrix(1 0 0 1 123.6147 834.0643)" font-family="'ArialMT'" font-size="12">Seputeh</text>
</g>
</svg>
              <div class="icon_Temerloh map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Raub map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Lipis map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_CameronHighlands map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_CameronHighlands map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Jerantut map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Kuantan map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Rompin map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Bera map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Bentong map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Pekan map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Maran map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
            </div>
          </div>
        </div>

<script>
  function districtkl_map(dist){
    $('#divklheader')[0].innerHTML=dist;
     $("#divtotal_malaysialist").hide();
    $('#div_kl_states').show()

    $('#state-select').val(dist)
     //$.ajax({
    //url: "/districts/" + dist,
    //dataType: "json",
    //success:function(data){
      
     $('#divnoofkldoctors')[0].innerHTML=Math.floor((Math.random() * 100) + 1);//data.noofdoctors
     $('#divnoofklxray')[0].innerHTML=Math.floor((Math.random() * 50) + 1);//data.noofxray
     $('#divnoofkllab')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.nooflab
     $('#divnoofklemployer')[0].innerHTML=Math.floor((Math.random() * 60) + 1);//data.empcount
     $('#divnoofklfw')[0].innerHTML=Math.floor((Math.random() * 200) + 1);//data.fwcount
     $('#divdetectablediseasekl')[0].innerHTML=Math.floor((Math.random() * 900) + 1);//data.detectdisease
     $('#commdiseaseskl')[0].innerHTML=Math.floor((Math.random() * 400) + 1);//data.commcount
     $('#noncommdiseaseskl')[0].innerHTML=Math.floor((Math.random() * 500) + 1);//data.noncommcount
     $('#divkltuberculosis')[0].innerHTML=Math.floor((Math.random() * 300) + 1);//data.tuberculosis
     $('#divklhepatisis')[0].innerHTML=Math.floor((Math.random() * 200) + 1);//data.hepatisis
     $('#divklsyphilis')[0].innerHTML=Math.floor((Math.random() * 100) + 1);//data.syphilis
     $('#divklhiv')[0].innerHTML=Math.floor((Math.random() * 120) + 1);//data.hiv
     $('#divklmalaria')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.malaria
     $('#divklleprosy')[0].innerHTML=Math.floor((Math.random() * 120) + 1);//data.leporacy

     $('#divklpreg')[0].innerHTML=Math.floor((Math.random() * 130) + 1);//data.pregnancy
     $('#divklurine')[0].innerHTML=Math.floor((Math.random() * 20) + 1);//data.urine
     $('#divklcannabis')[0].innerHTML=Math.floor((Math.random() * 30) + 1);//data.cannabis
     $('#divklillness')[0].innerHTML=Math.floor((Math.random() * 40) + 1);//data.illness
     $('#divklepilepsy')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.epilsey
     $('#divklcancer')[0].innerHTML=Math.floor((Math.random() * 320) + 1);//data.cancer
     $('#divklhyper')[0].innerHTML=Math.floor((Math.random() * 200) + 1);//data.hypertension
     $('#divkldiabetes')[0].innerHTML=Math.floor((Math.random() * 90) + 1);//data.diabetes
     $('#divklkidney')[0].innerHTML=Math.floor((Math.random() * 100) + 1);//data.kidney
     $('#divklheart')[0].innerHTML=Math.floor((Math.random() * 40) + 1);//data.heart
     $('#divklulcer')[0].innerHTML=Math.floor((Math.random() * 60) + 1);//data.ulcer
     $('#divklasthama')[0].innerHTML=Math.floor((Math.random() * 70) + 1);//data.asthama
     $('#divklothers')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.others
    //}
    //})

  }
  function district_kl(dist){  
  $('#district-select option:selected').text(dist)  
   $('#divklheader')[0].innerHTML=dist;
     //$.ajax({
    //url: "/districtname/" + dist,
    //dataType: "json",
    //success:function(data){
      
 $('#divnoofkldoctors')[0].innerHTML=Math.floor((Math.random() * 100) + 1);//data.noofdoctors
     $('#divnoofklxray')[0].innerHTML=Math.floor((Math.random() * 50) + 1);//data.noofxray
     $('#divnoofkllab')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.nooflab
     $('#divnoofklemployer')[0].innerHTML=Math.floor((Math.random() * 60) + 1);//data.empcount
     $('#divnoofklfw')[0].innerHTML=Math.floor((Math.random() * 200) + 1);//data.fwcount
     $('#divdetectablediseasekl')[0].innerHTML=Math.floor((Math.random() * 900) + 1);//data.detectdisease
     $('#commdiseaseskl')[0].innerHTML=Math.floor((Math.random() * 400) + 1);//data.commcount
     $('#noncommdiseaseskl')[0].innerHTML=Math.floor((Math.random() * 500) + 1);//data.noncommcount
     $('#divkltuberculosis')[0].innerHTML=Math.floor((Math.random() * 300) + 1);//data.tuberculosis
     $('#divklhepatisis')[0].innerHTML=Math.floor((Math.random() * 200) + 1);//data.hepatisis
     $('#divklsyphilis')[0].innerHTML=Math.floor((Math.random() * 100) + 1);//data.syphilis
     $('#divklhiv')[0].innerHTML=Math.floor((Math.random() * 120) + 1);//data.hiv
     $('#divklmalaria')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.malaria
     $('#divklleprosy')[0].innerHTML=Math.floor((Math.random() * 120) + 1);//data.leporacy

     $('#divklpreg')[0].innerHTML=Math.floor((Math.random() * 130) + 1);//data.pregnancy
     $('#divklurine')[0].innerHTML=Math.floor((Math.random() * 20) + 1);//data.urine
     $('#divklcannabis')[0].innerHTML=Math.floor((Math.random() * 30) + 1);//data.cannabis
     $('#divklillness')[0].innerHTML=Math.floor((Math.random() * 40) + 1);//data.illness
     $('#divklepilepsy')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.epilsey
     $('#divklcancer')[0].innerHTML=Math.floor((Math.random() * 320) + 1);//data.cancer
     $('#divklhyper')[0].innerHTML=Math.floor((Math.random() * 200) + 1);//data.hypertension
     $('#divkldiabetes')[0].innerHTML=Math.floor((Math.random() * 90) + 1);//data.diabetes
     $('#divklkidney')[0].innerHTML=Math.floor((Math.random() * 100) + 1);//data.kidney
     $('#divklheart')[0].innerHTML=Math.floor((Math.random() * 40) + 1);//data.heart
     $('#divklulcer')[0].innerHTML=Math.floor((Math.random() * 60) + 1);//data.ulcer
     $('#divklasthama')[0].innerHTML=Math.floor((Math.random() * 70) + 1);//data.asthama
     $('#divklothers')[0].innerHTML=Math.floor((Math.random() * 80) + 1);//data.others
    //}
   // })
  }
  function closeklicon(){
     $("#divtotal_malaysialist").show();
    $('#div_kl_states').hide()
   
  }
</script>


