    <div id="div_terengganu_states" class="pahan svg-content" style="display: none;">
          <div class="map-title" style="z-index: 100;"> TERENGGANU </div>
          <div class="text-info1"><a onclick="closeterengganuicon()">
            <i class="fa fa-close close-btn" id="divtotal_malaysiabtn_johor"></i></a>
            <div class="hidden statediv" id="sabah_district14">
              <div id="myRadioGroup" class="submap-title">
                <h1><div id="divterengganuheader"></div> </h1>
                <div class="box div_Pekan div_statesvg">
                  <ul>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Doctors
                      </div>
                      <div id="divnoofterengganudoctors"> </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i>Number of X-ray
                      </div>
                      <div id="divnoofterengganuxray"></div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Lab
                      </div>
                      <div id="divnoofterengganulab"> </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Employer
                      </div>
                      <div id="divnoofterengganuemployer">  </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of FW
                      </div>
                      <div id="divnoofterengganufw">  </div>
                    </li>
                    <li>
                      <div>
                        <i class="fa fa-angle-right"></i> Number of Detectable Disease/Condition
                      </div>
                      <div id="divdetectablediseaseterengganu"> </div>
                    </li>
                    <li class="p-0">
                      <div id="accordion3" style="width: 100%!important;float:left">
                        <div class="card">
                          <div class="card-header" style="background: #be0022;
                                              color: #fff;">
                            <a class="card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseOne16"> Communicable Diseases <span><div id="commdiseasesterengganu"></div>  </span>
                            </a>
                          </div>
                          <div id="collapseOne16" class="collapse" data-parent="#accordion3">
                            <div class="card-body" style="float: left; padding: 0px;">
                              <div class="box div_Pekan div_statesvg">
                                <ul>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i>Tuberculosis
                                    </div>
                                    <div id="divterengganutuberculosis">  </div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Hepatitis B
                                    </div>
                                    <div id="divterengganuhepatisis"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Syphilis
                                    </div>
                                    <div id="divterengganusyphilis"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> HIV/AIDS
                                    </div>
                                    <div id="divterengganuhiv"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Malaria
                                    </div>
                                    <div id="divterengganumalaria"></div>
                                  </li>
                                  <li>
                                    <div style="font-weight: 400;">
                                      <i class="fa fa-angle-right"></i> Leprosy
                                    </div>
                                    <div id="divterengganuleprosy"></div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" style="background: #be0022;
                                              color: #fff;">
                            <a class="collapsed card-link" style="color: #fff; font-weight: 500;" data-toggle="collapse" href="#collapseTwo17"> Non-Communicable Diseases <span><div id="noncommdiseasesterengganu"></div> </span>
                            </a>
                          </div>
                          <div id="collapseTwo17" class="collapse" data-parent="#accordion3">
                            <div class="card-body" style="float: left; padding: 0px;">
                              <div class="box div_Pekan div_statesvg">
                                <ul>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i>Pregnancy
                                    </div>
                                    <div id="divterengganupreg"> </div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Urine Opiates
                                    </div>
                                    <div id="divterengganuurine"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Urine Cannabis
                                    </div>
                                    <div id="divterengganucannabis"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Psychiatric Illness
                                    </div>
                                    <div id="divterengganuillness"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Epilepsy
                                    </div>
                                    <div id="divterengganuepilepsy"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Cancer
                                    </div>
                                     <div id="divterengganucancer"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Hypertension
                                    </div>
                                     <div id="divterengganuhyper"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Diabetes
                                    </div>
                                    <div id="divterengganudiabetes"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Kidney Disease
                                    </div>
                                     <div id="divterengganukidney"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Heart Disease
                                    </div>
                                     <div id="divterengganuheart"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Peptic Ulcer
                                    </div>
                                     <div id="divterengganuulcer"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Bronchial Asthma
                                    </div>
                                     <div id="divterengganuasthama"></div>
                                  </li>
                                  <li>
                                    <div>
                                      <i class="fa fa-angle-right"></i> Others
                                    </div>
                                     <div id="divterengganuothers"></div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="svg-map">
            <div class="sub-map">
  <svg version="1.1" id="svg12100" inkscape:version="0.48.5 r10040" sodipodi:docname="terengganu parlimen.svg" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-380 0 1258 594.455" enable-background="new 0 0 358.694 594.455" xml:space="preserve">
<sodipodi:namedview  id="base" inkscape:window-maximized="1" fit-margin-bottom="0" fit-margin-right="0" inkscape:guide-bbox="true" inkscape:window-y="-4" inkscape:window-x="-4" inkscape:window-height="740" inkscape:window-width="1280" inkscape:current-layer="layer1" inkscape:document-units="px" inkscape:pageshadow="2" inkscape:pageopacity="0.0" inkscape:cy="351.09155" inkscape:cx="242.92809" inkscape:zoom="1.2325395" fit-margin-left="0" borderopacity="1.0" fit-margin-top="0" showgrid="false" bordercolor="#666666" pagecolor="#ffffff" showguides="true">
  </sodipodi:namedview>
<g id="layer1" transform="translate(0,-457.90703)" inkscape:label="Layer 1" inkscape:groupmode="layer">
  
    <path id="path3347-9-1_2_" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M55.535,564.944c-0.713-0.491-1.4-1.019-2.04-1.584c-1.362-1.202-2.511-2.573-3.251-4.121c0,0-11.979-16.304-9.649-20.63
    c0,0,0.333-0.999,4.991-3.66c0,0,2.33-6.988,4.659-8.651c0,0,3.993,5.656,8.318,0.998l2.995,4.326l9.649-0.666
    c0,0,1.997,4.326,4.991,3.993c0,0,0,0,11.646-6.322c0,0-0.333-0.666-6.723-6.371c-18.914-22.183-33.734-30.402-33.734-30.402"/><a onclick="district_terengganu('BESUT')">
  
    <path id="path3347-9-1_1_" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M55.535,564.944l-43.492,8.98c0,0-7.468,11.86-4.393,14.057v13.178l1.757,0.439v8.786l-6.15,4.393l14.36,13.751l-0.137,4.634
    l3.781-1.432l6.982,1.745l1.496-3.241l1.995,2.493h5.984l4.239,5.984l0,0c3.74,3.74,11.47-7.48,11.47-7.48l1.995-1.745l6.732-0.499
    l-1.995-3.989l2.743-5.984c0-1.496-2.743-3.242-2.743-3.242c6.732-9.226,3.491-13.215,3.491-13.215
    c3.99-5.984,0.25-9.475,0.25-9.475s1.651-1.899,5.977-6.558c0,0-4.326-0.998-1.331-5.324c0,0,6.322-4.658-0.999-10.98
    C67.546,570.219,60.81,568.576,55.535,564.944"/></a><a onclick="district_terengganu('KUALA BESUT')">
  
    <path id="path3347-9-1_3_" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M47.387,491.853l5.698,38.448l5.615,1.5l2.857-0.18l9.523,0.347l5.117,2.981l11.646-6.322L66.121,507.1L47.387,491.853"/></a><a onclick="district_terengganu('JERTEH')">
  
    <path id="path3347-9-1" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M47.387,491.853l-13.821,17.499l-3.075-0.439l-14.935,17.131l-11.602,9.858L1.5,539.661l3.075,1.757v6.149l3.075,3.954v3.514
    l2.196,2.196l2.196,16.692l12.533-2.588l9.986-2.062l20.973-4.331l-15.24-24.81l11.9-7.246l-3.862-40.473"/></a><a onclick="district_terengganu('KIJAL')">
  
    <path id="path5078_1_" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M307.501,948.577l-135.655-25.949l12.991-15.116l4.588-3.892l1.938-8.984l7.522-3.482l0.604,2.819l3.826-0.403l0.807,3.424h1.41
    l1.006-2.819l2.014,0.402l5.236-4.229l7.049,1.208l1.813,5.438l2.378,2.577l1.649-4.39l6.08-4.833L307.501,948.577"/></a><a onclick="district_terengganu('KERTEH')">
  
    <path id="path5078" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M305.933,950.019l-74.868-61.052l0.288-4.025l2.416-0.402l-0.201-5.841l8.861-2.417c1.729,19.541,18.326,7.653,18.326,7.653v-7.451
    h2.015l2.216-4.028l2.617-1.208l-3.625-2.618l1.209-10.271l5.639-0.201l7.854-10.07h2.216l2.416,3.424l22.758,0.201l3.131-3.498
    c0,0,9.626,24.281,5.824,21.802c0,0-14.216-2.976-3.637,24.133l0.661,13.886C312.618,907.811,334.351,941.601,305.933,950.019"/></a><a onclick="district_terengganu('BUKIT BESI')">
  
    <path id="path3347-9-8_1_" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M146.695,836.482l86.981,41.897v6.271l-2.379,0.217l-0.433,5.621l-5.622,6.055l-0.216,3.027l-3.892-0.649l-1.73-6.054l-7.135-1.081
    l-5.622,4.108l-1.946-0.217l-0.648,2.595l-1.73,0.217l-0.864-3.46l-3.46,0.433l-0.864-2.595l-5.189,0.216L190,898.272l-0.575,5.348
    c0,0,1.804-6.993-16.634-24.958l0,0l-3.782,11.346l-4.255-3.781c0,0-41.129-2.364-27.893-29.312
    C136.862,856.915,152.639,849.591,146.695,836.482"/></a>
  
    <path id="path3347-9-8_3_" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M232.108,814.88l-48.151-33.194"/><a onclick="district_terengganu('DUNGUN')">
  
    <path id="path3347-9-8_4_" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M296.359,779.891l9.964,17.6c-6.713,0.249-6.588,3.854-6.588,3.854c10.484,32.012,5.516,32.26,5.516,32.26
    c-0.869,0.125-0.994,0.125-0.994,0.125l4.598,15.281l-2.6,2.922l-23.568-0.216l-4.007-5.148L296.359,779.891"/></a><a onclick="district_terengganu('JERANGAU')">
  
    <path id="path3347-9-8_2_" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M278.68,848.087l-94.723-66.401l6.534-0.402c-1.508-15.838,4.043-7.467,4.043-7.467l4.17,0.347l0.449-2.761l3.379-0.036
    l0.18-15.497c-0.029-3.748,4.543,1.396,4.543,1.396l2.143-1.143c-0.428-10.859,4.717-5.287,4.717-5.287l6.572,0.143l2.188,3.047
    l2.385-1.189c5.26-7.228,8.463,2.572,8.463,2.572l1.131,2.544l4.9-0.095l0,0c2.262-21.107,6.691,1.885,6.691,1.885
    c7.537-3.58,10.742,6.785,10.742,6.785l5.842,6.03l4.428-5.089l0,0c4.994,0.283,8.104,8.67,8.104,8.67l6.598,0.094l9.15-5.848
    l5.052,9.507L278.68,848.087"/></a><a onclick="district_terengganu('PAKA')">
  
    <path id="path3347-9-8" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M146.695,836.482c-1.756-3.872-5.407-8.248-11.919-13.089c5.505-8.194,0.904-13.045,0.904-13.045l13.501-5.415l0.438-19.482
    l9.458-0.618l2.609,3.484l2.987-0.995l1.743-2.738h4.978l4.91-6.033l6.042-0.189l0.249,2.369l96.086,67.356
    c0,0-2.883,3.696-6.936,8.892c-1.176,1.508-6.558,1.38-6.558,1.38c-1.209,10.271-0.631,6.064-1.209,10.271
    c-0.225,1.633,5.729-1.781-0.238,6.092c-2.984,3.938-2.448-0.688-2.984,1.763c-0.834,3.813,2.984,5.4,0,7.451
    c-16.077,11.048-18.326-7.653-18.326-7.653l-8.752,2.098L146.695,836.482"/></a><a onclick="district_terengganu('SETIU')">
  
    <path id="path3347-9-0" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M191.136,603.239c-7.276-7.317-12.539-11.932-12.539-11.932l-11.245-11.245l-12.567,1.323
    c-33.502-23.871-40.741-31.343-40.741-31.343l-7.939-3.502l-12.492-12.142l-6.008-5.921c-11.408,6.472-11.408,6.472-11.408,6.472
    c-2.995,0.333-4.991-3.993-4.991-3.993l-9.649,0.666l-2.995-4.326c-4.326,4.659-8.318-0.998-8.318-0.998
    c-2.329,1.664-4.659,8.651-4.659,8.651c-4.658,2.662-4.991,3.66-4.991,3.66c-2.33,4.326,9.649,20.63,9.649,20.63
    c3.66,7.653,17.302,10.98,17.302,10.98c7.32,6.322,0.999,10.98,0.999,10.98c-2.995,4.326,1.331,5.324,1.331,5.324
    c-4.326,4.659-5.977,6.558-5.977,6.558c3.174,4.2,1.014,6.022,1.014,6.022c10.619,1.729,6.959,7.052,6.959,7.052
    c13.31,5.989,6.988,13.643,6.988,13.643c-1.331,10.315,8.318,0.998,8.318,0.998c1.664,18.633,5.324,17.635,5.324,17.635
    c4.325,0,7.985,1.331,7.985,1.331c1.664,9.317,0,20.63,0,20.63s10.315,6.322,13.976,11.313c0,0,4.991,1.331,7.32-0.999
    c0,0,2.662-4.991,7.986-4.658v-3.328l4.991-0.333c0,0-0.333-5.657,2.995-3.328c0,0,1.664,3.328,3.993,5.657
    c0,0,1.997,0.666,5.324,0.333c0,0,1.331,1.331,2.662,6.987c0,0,2.995,1.664,4.658,3.328c0,0,1.664,5.656,4.326,5.989
    c0,0,2.329,0.998,4.991-4.991c0,0,0.333-0.666,4.326,1.331c0,0,3.66-1.997,8.684-6.837C162.5,659.18,162.5,659.559,162.5,659.559
    c-3.788-2.273-3.409-8.712-3.409-8.712c-5.303-2.272-6.439-3.03-6.439-3.03c-3.788-1.136,4.924-6.061,4.924-6.061l-3.788-10.227
    l1.894-6.818c-1.136-5.682-3.409-16.667-3.409-16.667c3.03-4.167,4.545-1.137,4.545-1.137l5.303,4.545
    c2.273,1.137,6.061-1.515,6.061-1.515c6.818,16.288,5.303,19.697,5.303,19.697l4.924-1.894l-0.379-4.545
    c4.924-4.545,12.879,0.757,12.879,0.757c1.894,6.818,6.061-2.272,6.061-2.272c-3.03-10.228-5.303-14.394-5.303-14.394
    L191.136,603.239z"/></a><a onclick="district_terengganu('KUALA NERUS')">
  
    <path id="path3347-9-82" inkscape:connector-curvature="0" sodipodi:nodetypes="csscccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M219.129,635.508c-2.282-2.876-2.903-3.722-4.956-6.252c-4.105-5.06-7.764-9.448-11.02-13.253
    c-3.256-3.806-8.577-9.807-11.544-12.65l0.057,3.934c0,0,2.273,4.167,5.303,14.394c0,0-4.167,9.091-6.061,2.272
    c0,0-7.955-5.303-12.879-0.757l0.379,4.545l-4.924,1.894c0,0,1.515-3.409-5.303-19.697c0,0-3.788,2.652-6.061,1.515l-5.303-4.545
    c0,0-1.515-3.03-4.545,1.136c0,0,2.272,10.985,3.409,16.667l-1.894,6.818l3.788,10.227c0,0-8.712,4.924-4.924,6.061
    c0,0,1.137,0.758,6.439,3.03c0,0-0.378,6.439,3.409,8.712c0,0,0-0.379,14.218,11.298c10.615-12.794,8.286-14.458,8.286-14.458
    c8.651-8.318,18.633-10.647,18.633-10.647c1.918-4.501,3.77-3.883,3.77-3.883c9.877,0.926,9.568,0.309,9.568,0.309
    C217.284,638.782,219.129,635.508,219.129,635.508L219.129,635.508z"/></a><a onclick="district_terengganu('KUALA BERANG')">
  
    <path id="path5052-6" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M247.062,759.55c0,0-4.445-23.3-6.744-2.146h-4.906l-1.226-1.993c0,0-2.913-10.271-8.737-2.606l-1.993,0.919l-2.146-3.065
    l-6.883-0.151l-0.782-0.922c0,0-3.833-3.985-3.833,6.438l0,0l-1.992,1.073c0,0-4.599-4.292-4.599-3.373l-0.307,17.476h-3.372
    l-0.613,2.3l-3.832-0.154c0,0-3.373-4.598-3.68-2.529l-0.307,10.041l-8.584-0.153v-2.146l-6.132-0.154l-5.059,6.438h-5.212
    l-1.686,2.759l-2.759,0.307l-2.453-2.912l-9.657,0.613l-0.307,19.468l-13.643,5.365c0,0,4.292,4.752-0.715,12.907
    c0,0-22.152,13.237-51.149-22.16l0.327-11.146l-5.71-7.467l4.393-6.15c-20.206-7.467-22.842-15.374-22.842-15.374l-16.253-0.439
    l-1.318-9.664h0.879l0.878-10.542c-9.7-3.99-2.532-11.317-2.636-11.421c9.225-1.757-3.514-20.646-3.514-20.646
    c20.409-4.913-1.52-14.327-2.196-14.057c-11.421-16.253-21.084-11.421-21.084-11.421l2.953-50.29l3.527-0.789l6.979,1.745
    l1.62-3.365l2.492,2.742h5.608l3.365,4.86c0,0,2.852,6.897,12.337-6.729l2.492-1.62l6.231-0.499l-1.869-3.988l2.243-4.362
    c0,0,1.246-2.243-2.368-4.86c0,0,6.48-8.599,3.24-12.96c0,0,0.695-1.735,1.256-3.651c10.747,1.735,7.087,7.059,7.087,7.059
    c13.31,5.989,6.988,13.643,6.988,13.643c-1.331,10.315,8.318,0.998,8.318,0.998c1.664,18.633,5.324,17.635,5.324,17.635
    c4.325,0,7.985,1.331,7.985,1.331c1.664,9.317,0,20.63,0,20.63s10.315,6.322,13.976,11.313c0,0,4.991,1.331,7.32-0.999
    c0,0,2.662-4.991,7.986-4.658v-3.328l4.991-0.333c0,0-0.333-5.657,2.995-3.328c0,0,1.664,3.328,3.993,5.657
    c0,0,1.997,0.666,5.324,0.333c0,0,1.331,1.331,2.662,6.987c0,0,2.995,1.664,4.658,3.328c0,0,1.664,5.656,4.326,5.989
    c0,0,2.329,0.998,4.991-4.991c0,0,0.333-0.666,4.326,1.331c0,0,3.66-1.997,8.684-6.837c10.615-12.794,8.286-14.458,8.286-14.458
    c8.651-8.319,18.633-10.648,18.633-10.648c2.995,6.988,5.324,9.982,5.324,9.982c-13.643,3.327-17.635,3.327-17.635,3.327
    c-4.659,5.657,0.666,16.637,0.666,16.637c3.993,10.648,1.996,15.306,1.996,15.306c6.655,11.313,13.643,14.308,13.643,14.308
    c8.651-3.993,9.317,6.655,9.317,6.655c4.658,6.987,5.656,7.985,5.656,7.985c0-2.662,3.327-0.998,3.327-0.998
    c11.979,15.972,19.299,26.287,19.299,26.287C247.893,751.231,247.062,759.55,247.062,759.55L247.062,759.55z"/></a><a onclick="district_terengganu('AJIL')">
  
    <path id="path5052-6-2_2_" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M261.673,715.533l29.635,53.465l-8.682,6.954h-6.592c0,0-1.993-7.817-8.125-8.892l-4.292,5.213l-5.825-5.979
    c0,0-2.605-9.964-10.73-6.745c0,0,0.831-8.318-1.831-14.308c0,0-4.424-6.232-12.019-16.509
    C232.714,728.059,262.197,716.241,261.673,715.533"/></a>
  
    <path id="path5052-6-2_1_" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M260.532,713.474l1.141,2.059"/><a onclick="district_terengganu('MARANG')">
  
    <path id="path5052-6-2" inkscape:connector-curvature="0" sodipodi:nodetypes="ccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M233.212,728.733c-1.769-2.386-5.223-7.035-7.28-9.778c0,0-3.327-1.664-3.327,0.999c0,0-0.998-0.999-5.656-7.986
    c0,0-0.666-10.648-9.317-6.655c0,0-6.987-2.995-13.643-14.308c0,0,1.997-4.658-1.997-15.306c0,0-5.324-10.98-0.665-16.637
    c0,0,3.993,0,17.635-3.328c7.024-1.335,10.408-1.335,10.408-1.335c4.807,0,3.916,7.123,3.916,7.123
    c5.342-0.356,9.264,1.469,9.264,1.469l0,0l29.123,52.542"/></a><a onclick="district_terengganu('KUALA TERENGGANU')">
  <path id="path3347-9-82-1" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccc" fill="#55B6D7" stroke="#000000" d="
    M232.55,662.99c0,0-3.921-1.826-9.263-1.469c0,0,0.89-7.123-3.917-7.123c0,0-3.384,0-10.408,1.335c0,0-2.329-2.995-5.324-9.982
    c1.918-4.5,3.77-3.883,3.77-3.883c9.877,0.926,9.568,0.309,9.568,0.309c0.309-3.395,2.153-6.669,2.153-6.669
    c6.875,7.806,12.245,16.21,12.245,16.21C234.643,659.19,232.55,662.99,232.55,662.99L232.55,662.99z"/></a><a onclick="district_terengganu('KEMAMAN')">
  
    <path id="path3347-9_4_" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" d="
    M311.491,947.65l-133.258-25.555l-6.387,0.532l-4.255,12.765l-3.782,0.945l-1.891,13.71c-7.091,8.51-0.945,13.237-0.945,13.237
    l-0.473,8.51l-7.564,6.618l8.51,12.765c36.874-27.42,69.492,16.159,69.492,16.159l41.132-45.47l33.486,0.774L311.491,947.65"/></a>
  
    <path id="path3347-9_3_" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M311.491,947.65c17.496-11.539,0.996-39.854,0.481-39.652l-0.661-13.886c-10.578-27.108,3.637-24.133,3.637-24.133
    c3.802,2.479-6.116-22.481-6.116-22.481l-3.967-13.885c6.612,0.166-4.628-32.895-4.628-32.895c1.487-3.471,6.446-3.636,6.446-3.636
    l-73.849-133.68c2.977-5.953-4.961-16.867-4.961-16.867c-40.347-51.922-49.276-55.229-49.276-55.229l-11.245-11.245l-12.567,1.323
    c-33.502-23.871-40.741-31.343-40.741-31.343l-7.939-3.502l-24.985-24.284c-18.914-22.183-33.734-30.402-33.734-30.402
    l-13.821,17.499l-3.075-0.439l-14.935,17.131l-11.602,9.858L1.5,539.661l3.075,1.757v6.149l3.075,3.954v3.514l2.196,2.196
    l2.196,16.692c0,0-7.468,11.86-4.393,14.057v13.178l1.757,0.439v8.786l-6.15,4.393l14.496,13.617l-3.075,54.469
    c0,0,9.664-4.832,21.084,11.421c0.676-0.271,22.605,9.144,2.196,14.057c0,0,12.739,18.889,3.514,20.646
    c0.104,0.104-7.064,7.431,2.636,11.421l-0.878,10.542h-0.879l1.318,9.664l16.253,0.439c0,0,2.636,7.907,22.842,15.374l-4.393,6.15
    l5.71,7.467l-0.327,11.146c28.997,35.398,50.743,21.688,50.743,21.688c28.838,21.747,2.364,34.039,2.364,34.039
    c-13.237,26.946,27.893,29.311,27.893,29.311l4.255,3.782l3.782-11.347c18.438,17.965,16.546,25.056,16.546,25.056l-6.146,5.2
    l-11.346,13.71"/><a onclick="district_terengganu('JABOR')">
  
    <path id="path3347-9" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc" fill="#55B6D7" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M272.069,961.867l-41.132,45.47l8.512,0.387c21.274,0.473,18.91,22.692,18.91,22.692c12.292,18.438,14.035,20.446,14.035,20.446
    l-4.58-10.991l8.982-1.892l-1.419-34.983l-3.309-3.782l-0.945-15.601l3.309-1.891C280.106,968.012,272.069,961.867,272.069,961.867
    "/></a>
  
    <path id="path13282" inkscape:connector-curvature="0" fill="#CFEDF5" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M236.661,631.519c0,0,2,0,3,3.249c0,0,1.499,1.5,2.248,5.498c0,0-0.749,4.249-3.748,4.998c0,0-1.75,0.25-1.25-4.499
    c0,0,0.25-0.75-2.748-4.998c0-2.499-2-3.499-2-3.499S235.162,631.269,236.661,631.519L236.661,631.519z"/>
  
    <path id="path13284" inkscape:connector-curvature="0" sodipodi:nodetypes="cccccccc" fill="#FBE1BB" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="
    M275.897,677.002v2.999h3.998c-0.25-3.499-4.748-10.496-4.748-10.496l-1.25,2.999l-3.748,0.25c-2,2.749,1,4.749,1,4.749
    L275.897,677.002z"/>
  <text transform="matrix(1 0 0 1 242.9639 1004.8845)" font-family="'MyriadPro-Regular'" font-size="12">Jabor</text>
  <text transform="matrix(1 0 0 1 195.2979 964.7156)" font-family="'MyriadPro-Regular'" font-size="12">Kemaman</text>
  <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" d="M311.491,947.65"/>
  <text transform="matrix(1 0 0 1 212.6318 922.0955)" font-family="'MyriadPro-Regular'" font-size="12">Kijal</text>
  <text transform="matrix(1 0 0 1 266.0488 902.0955)" font-family="'MyriadPro-Regular'" font-size="12">Kerteh</text>
  <text transform="matrix(1 0 0 1 150.3369 871.9675)" font-family="'MyriadPro-Regular'" font-size="12">Bukit Besi</text>
  <text transform="matrix(1 0 0 1 199.3623 836.4822)" font-family="'MyriadPro-Regular'" font-size="12">Paka</text>
  <text transform="matrix(1 0 0 1 206.7275 783.9177)" font-family="'MyriadPro-Regular'" font-size="12">Jerangau</text>
  <text transform="matrix(1 0 0 1 312.8008 820.2322)" font-family="'MyriadPro-Regular'" font-size="12">Dungun</text>
  <line fill="none" stroke="#000000" x1="299.944" y1="820.232" x2="312.801" y2="817.135"/>
  <text transform="matrix(1 0 0 1 250.4609 745.7424)" font-family="'MyriadPro-Regular'" font-size="12">Ajil</text>
  <text transform="matrix(1 0 0 1 204.124 694.9792)" font-family="'MyriadPro-Regular'" font-size="12">Marang</text>
  <text transform="matrix(1 0 0 1 246.0361 657.7678)" font-family="'MyriadPro-Regular'" font-size="12">Kuala Terengganu</text>
  <line fill="none" stroke="#000000" x1="227.364" y1="655.112" x2="244.444" y2="653.374"/>
  <text transform="matrix(1 0 0 1 220.1084 614.7678)" font-family="'MyriadPro-Regular'" font-size="12">Kuala Nerus</text>
  <line fill="none" stroke="#000000" x1="204.399" y1="629.635" x2="225.544" y2="615.768"/>
  <text transform="matrix(1 0 0 1 91.4424 594.325)" font-family="'MyriadPro-Regular'" font-size="12">Setiu</text>
  <text transform="matrix(1 0 0 1 21.5708 612.825)" font-family="'MyriadPro-Regular'" font-size="12">Besut</text>
  <text transform="matrix(1 0 0 1 8.4043 544.325)" font-family="'MyriadPro-Regular'" font-size="12">Jerteh</text>
  <text transform="matrix(1 0 0 1 75.8438 513.4011)" font-family="'MyriadPro-Regular'" font-size="12">Kuala Besut</text>
  <text transform="matrix(0.9719 0 0 1 73.6934 719.7517)" font-family="'MyriadPro-Regular'" font-size="18.1837">Kuala Berang</text>
</g>
</svg>
              <div class="icon_Temerloh map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Raub map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Lipis map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_CameronHighlands map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_CameronHighlands map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Jerantut map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Kuantan map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Rompin map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Bera map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Bentong map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Pekan map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
              <div class="icon_Maran map-icon" style="display: none;">
                <img src="/assets/Malaysia.png">
              </div>
            </div>
          </div>
        </div>

<script>
  function districtterengganu_map(dist){
      $('#state-select').val(dist)
    $('#divterengganuheader')[0].innerHTML=dist;
     $("#divtotal_malaysialist").hide();
    $('#div_terengganu_states').show()
    // $.ajax({
    //url: "/districts/" + dist,
    //dataType: "json",
    //success:function(data){
      
     $('#divnoofterengganudoctors')[0].innerHTML=Math.floor((Math.random() * 18) + 1);//data.noofdoctors
     $('#divnoofterengganuxray')[0].innerHTML=Math.floor((Math.random() * 20) + 1);//data.noofxray
     $('#divnoofterengganulab')[0].innerHTML=Math.floor((Math.random() * 35) + 1);//data.nooflab
     $('#divnoofterengganuemployer')[0].innerHTML=Math.floor((Math.random() * 40) + 1);//data.empcount
     $('#divnoofterengganufw')[0].innerHTML=Math.floor((Math.random() * 45) + 1);//data.fwcount
     $('#divdetectablediseaseterengganu')[0].innerHTML=Math.floor((Math.random() * 750) + 1);//data.detectdisease
     $('#commdiseasesterengganu')[0].innerHTML=Math.floor((Math.random() * 250) + 1);//data.commcount
     $('#noncommdiseasesterengganu')[0].innerHTML=Math.floor((Math.random() * 450) + 1);//data.noncommcount
     $('#divterengganutuberculosis')[0].innerHTML=Math.floor((Math.random() * 30) + 1);//data.tuberculosis
     $('#divterengganuhepatisis')[0].innerHTML=Math.floor((Math.random() * 40) + 1);//data.hepatisis
     $('#divterengganusyphilis')[0].innerHTML=Math.floor((Math.random() * 50) + 1);//data.syphilis
     $('#divterengganuhiv')[0].innerHTML=Math.floor((Math.random() * 60) + 1);//data.hiv
     $('#divterengganumalaria')[0].innerHTML=Math.floor((Math.random() * 65) + 1);//data.malaria
     $('#divterengganuleprosy')[0].innerHTML=Math.floor((Math.random() * 70) + 1);//data.leporacy

     $('#divterengganupreg')[0].innerHTML=Math.floor((Math.random() * 18) + 1);//data.pregnancy
     $('#divterengganuurine')[0].innerHTML=Math.floor((Math.random() * 20) + 1);//data.urine
     $('#divterengganucannabis')[0].innerHTML=Math.floor((Math.random() * 35) + 1);//data.cannabis
     $('#divterengganuillness')[0].innerHTML=Math.floor((Math.random() * 45) + 1);//data.illness
     $('#divterengganuepilepsy')[0].innerHTML=Math.floor((Math.random() * 55) + 1);//data.epilsey
     $('#divterengganucancer')[0].innerHTML=Math.floor((Math.random() * 65) + 1);//data.cancer
     $('#divterengganuhyper')[0].innerHTML=Math.floor((Math.random() * 75) + 1);//data.hypertension
     $('#divterengganudiabetes')[0].innerHTML=Math.floor((Math.random() * 85) + 1);//data.diabetes
     $('#divterengganukidney')[0].innerHTML=Math.floor((Math.random() * 95) + 1);//data.kidney
     $('#divterengganuheart')[0].innerHTML=Math.floor((Math.random() * 10) + 1);//data.heart
     $('#divterengganuulcer')[0].innerHTML=Math.floor((Math.random() * 8) + 1);//data.ulcer
     $('#divterengganuasthama')[0].innerHTML=Math.floor((Math.random() * 15) + 1);//data.asthama
     $('#divterengganuothers')[0].innerHTML=Math.floor((Math.random() * 20) + 1);//data.others
    //}
    //})

  }
  function district_terengganu(dist){   
   $('#district-select option:selected').text(dist)   
   $('#divterengganuheader')[0].innerHTML=dist;
   //  $.ajax({
   // url: "/districtname/" + dist,
   // dataType: "json",
   // success:function(data){
      
          $('#divnoofterengganudoctors')[0].innerHTML=Math.floor((Math.random() * 18) + 1);//data.noofdoctors
     $('#divnoofterengganuxray')[0].innerHTML=Math.floor((Math.random() * 20) + 1);//data.noofxray
     $('#divnoofterengganulab')[0].innerHTML=Math.floor((Math.random() * 35) + 1);//data.nooflab
     $('#divnoofterengganuemployer')[0].innerHTML=Math.floor((Math.random() * 40) + 1);//data.empcount
     $('#divnoofterengganufw')[0].innerHTML=Math.floor((Math.random() * 45) + 1);//data.fwcount
     $('#divdetectablediseaseterengganu')[0].innerHTML=Math.floor((Math.random() * 750) + 1);//data.detectdisease
     $('#commdiseasesterengganu')[0].innerHTML=Math.floor((Math.random() * 250) + 1);//data.commcount
     $('#noncommdiseasesterengganu')[0].innerHTML=Math.floor((Math.random() * 450) + 1);//data.noncommcount
     $('#divterengganutuberculosis')[0].innerHTML=Math.floor((Math.random() * 30) + 1);//data.tuberculosis
     $('#divterengganuhepatisis')[0].innerHTML=Math.floor((Math.random() * 40) + 1);//data.hepatisis
     $('#divterengganusyphilis')[0].innerHTML=Math.floor((Math.random() * 50) + 1);//data.syphilis
     $('#divterengganuhiv')[0].innerHTML=Math.floor((Math.random() * 60) + 1);//data.hiv
     $('#divterengganumalaria')[0].innerHTML=Math.floor((Math.random() * 65) + 1);//data.malaria
     $('#divterengganuleprosy')[0].innerHTML=Math.floor((Math.random() * 70) + 1);//data.leporacy

     $('#divterengganupreg')[0].innerHTML=Math.floor((Math.random() * 18) + 1);//data.pregnancy
     $('#divterengganuurine')[0].innerHTML=Math.floor((Math.random() * 20) + 1);//data.urine
     $('#divterengganucannabis')[0].innerHTML=Math.floor((Math.random() * 35) + 1);//data.cannabis
     $('#divterengganuillness')[0].innerHTML=Math.floor((Math.random() * 45) + 1);//data.illness
     $('#divterengganuepilepsy')[0].innerHTML=Math.floor((Math.random() * 55) + 1);//data.epilsey
     $('#divterengganucancer')[0].innerHTML=Math.floor((Math.random() * 65) + 1);//data.cancer
     $('#divterengganuhyper')[0].innerHTML=Math.floor((Math.random() * 75) + 1);//data.hypertension
     $('#divterengganudiabetes')[0].innerHTML=Math.floor((Math.random() * 85) + 1);//data.diabetes
     $('#divterengganukidney')[0].innerHTML=Math.floor((Math.random() * 95) + 1);//data.kidney
     $('#divterengganuheart')[0].innerHTML=Math.floor((Math.random() * 10) + 1);//data.heart
     $('#divterengganuulcer')[0].innerHTML=Math.floor((Math.random() * 8) + 1);//data.ulcer
     $('#divterengganuasthama')[0].innerHTML=Math.floor((Math.random() * 15) + 1);//data.asthama
     $('#divterengganuothers')[0].innerHTML=Math.floor((Math.random() * 20) + 1);//data.others
   // }
   // })
  }
  function closeterengganuicon(){
     $("#divtotal_malaysialist").show();
    $('#div_terengganu_states').hide();
     $('#state-select').val("")
   $('#district-select').val("0")
   
  }
</script>


